In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

# **Basics**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
# get file url from the spark website
!wget -q https://mirrors.estointernet.in/apache/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!ls

sample_data  spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\work\\spark-2.4.8-bin-hadoop2.7'

# **Assignment**

Dataset is [here](https://www.kaggle.com/benroshan/ecommerce-data?select=Order+Details.csv).

**Questions:**
1. In which order, there was maximum loss and in which order, there was maximum profit?

2. Which category has been the most profitable and the least profitable (maybe have caused a loss as well)?

3. From which state, most orders have been placed? 

4. Which category of product has been sold the most?

5. For which all months, the sales target have been achieved? So, for each month, there's a sales target for each category. Find out for which category and which month, the sales target was achieved and not achieved.

6. Which customer has spent the most amount on the website?

## **Reading the Data**

In [2]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as f


spark = SparkSession.builder.master('local[1]').appName('E-commerce').getOrCreate()

In [4]:
from pyspark.sql.types import FloatType, StringType, StructType, StructField, IntegerType, DateType


order_deets_schema = StructType([
                                 StructField("Order ID", StringType(), True),
                                 StructField("Amount", FloatType(), True),
                                 StructField("Profit", FloatType(), True),
                                 StructField("Quantity", IntegerType(), True),
                                 StructField("Category", StringType(), True),
                                 StructField("Sub-category", StringType(), True)
])
orders_schema = StructType([
                            StructField("Order ID", StringType(), True),
                            StructField("Order Date", DateType(), True),
                            StructField("CustomerName", StringType(), True),
                            StructField("State", StringType(), True),
                            StructField("City", StringType(), True),
])
target_schema = StructType([
                            StructField("Month of Order Date", StringType(), True),
                            StructField("Category", StringType(), True),
                            StructField("Target", FloatType(), True),
])
order_deets_df = spark.read.option("dateFormat", "dd-MM-yyyy").csv("archive/order_details.csv", header = True, schema = order_deets_schema).dropna()
orders_df = spark.read.option("dateFormat", "dd-MM-yyyy").csv("archive/orders.csv", header = True, schema = orders_schema)
target_df = spark.read.option("dateFormat", "dd-MM-yyyy").csv("archive/target.csv", header = True, schema = target_schema)

In [5]:
order_deets_df.printSchema()
orders_df.printSchema()
target_df.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- Profit: float (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-category: string (nullable = true)

root
 |-- Order ID: string (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- State: string (nullable = true)
 |-- City: string (nullable = true)

root
 |-- Month of Order Date: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Target: float (nullable = true)

## **1. Max Loss and Max Profit Order**

In [6]:
from pyspark.sql.functions import sum


order_grouped = order_deets_df.groupBy("Order ID").agg(sum("Profit").alias("Profit Per Order"))

**Max Profit and Min Profit Using Order By**

In [27]:
order_pl = order_grouped.orderBy("Profit Per Order", ascending = False)
print(order_pl.first())
print(order_pl.tail(1))

Row(Order ID='B-25973', Profit Per Order=1970.0)
[Row(Order ID='B-25798', Profit Per Order=-1836.0)]

**Max Profit and Min Profit using Max and Min Functions**

In [30]:
order_grouped.agg(f.max(f.col("Profit Per Order")).alias("Max Profit")).show()
order_grouped.agg(f.min(f.col("Profit Per Order")).alias("Min Profit")).show()

+----------+
|Max Profit|
+----------+
|    1970.0|
+----------+

+----------+
|Min Profit|
+----------+
|   -1836.0|
+----------+

## **2. Max Profit and Min Profit Category**

In [ ]:
category_pl = order_deets_df.groupBy("Category").agg(sum("Profit").alias("Profit Per Category")).orderBy("Profit Per Category", ascending = False)

**Most Profitable Category**

In [ ]:
category_pl.first()

Row(Category='Clothing', Profit Per Category=11163.0)

**Least Profitable Category**

In [ ]:
category_pl.tail(1)

[Row(Category='Furniture', Profit Per Category=2298.0)]

## **3. Most Orders By State**

In [ ]:
state_order = orders_df.groupBy("State").count().orderBy("Count", ascending = False)

In [ ]:
state_order.first()

Row(State='Madhya Pradesh', count=101)

## **4. Most Sold Categries**

In [ ]:
category_count = order_deets_df.groupBy("Category").agg(sum("Quantity").alias("Products Sold Per Cateory")).orderBy("Products Sold Per Cateory", ascending = False)

In [ ]:
category_count.first()

Row(Category='Clothing', Products Sold Per Cateory=3516)

## **5. Target Achieved**

In [ ]:
months = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
to_month = f.udf(lambda x: months[x])
mod_year = f.udf(lambda x: x % 2000)

# Getting order timestamps
orders_na = orders_df.select("Order ID", "Order Date")\
.withColumn("Order Year", mod_year(f.year("Order Date")))\
.withColumn("Order Month", to_month(f.month("Order Date")))

order_my = order_deets_df.join(orders_na, on = "Order ID", how = "left")\
.select(f.concat_ws("-", f.col("Order Month"), f.col("Order Year")).alias("Date"), "Category", "Amount")

In [ ]:
order_my_grouped = order_my.groupBy(["Date", "Category"]).agg(sum("Amount").alias("Amount"))

In [ ]:
get_achieved = f.udf(lambda x, y: "No" if x < y else "Yes")

temp_target = target_df.select(f.col("Month of Order Date").alias("Date"), "Category", "Target")

temp_target.join(order_my_grouped, on = ["Date", "Category"], how = "inner")\
.withColumn("Achieved", get_achieved(f.col("Amount"), f.col("Target"))).show(5)

+------+-----------+-------+-------+--------+
|  Date|   Category| Target| Amount|Achieved|
+------+-----------+-------+-------+--------+
|Feb-19|Electronics|16000.0|12593.0|      No|
|Nov-18|Electronics| 9000.0|16651.0|     Yes|
|Mar-19|  Furniture|11800.0|16659.0|     Yes|
|Sep-18|Electronics| 9000.0| 7207.0|      No|
|Aug-18|   Clothing|14000.0|11822.0|      No|
+------+-----------+-------+-------+--------+
only showing top 5 rows

## **6. Best Customer**

In [ ]:
order_amount = order_deets_df.groupBy("Order ID").agg(sum("Amount").alias("Amount"))
best_customer = orders_df.join(order_amount, on = "Order ID", how = "inner")\
.groupBy("CustomerName").agg(sum("Amount").alias("Total Purchase Amount")).orderBy("Total Purchase Amount", ascending = False)

In [ ]:
best_customer.first()

Row(CustomerName='Yaanvi', Total Purchase Amount=9177.0)