In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

# **Basics**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
# get file url from the spark website
!wget -q https://mirrors.estointernet.in/apache/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!ls

sample_data  spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\work\\spark-2.4.8-bin-hadoop2.7'

# **Assignment**

Dataset is [here](https://www.kaggle.com/benroshan/ecommerce-data?select=Order+Details.csv).

**Questions:**
1. In which order, there was maximum loss and in which order, there was maximum profit?

2. Which category has been the most profitable and the least profitable (maybe have caused a loss as well)?

3. From which state, most orders have been placed? 

4. Which category of product has been sold the most?

5. For which all months, the sales target have been achieved? So, for each month, there's a sales target for each category. Find out for which category and which month, the sales target was achieved and not achieved.

6. Which customer has spent the most amount on the website?

## **Reading the Data**

In [2]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as f


spark = SparkSession.builder.master('local[1]').appName('E-commerce').getOrCreate()

In [4]:
from pyspark.sql.types import FloatType, StringType, StructType, StructField, IntegerType, DateType


order_deets_schema = StructType([
                                 StructField("Order ID", StringType(), True),
                                 StructField("Amount", FloatType(), True),
                                 StructField("Profit", FloatType(), True),
                                 StructField("Quantity", IntegerType(), True),
                                 StructField("Category", StringType(), True),
                                 StructField("Sub-category", StringType(), True)
])
orders_schema = StructType([
                            StructField("Order ID", StringType(), True),
                            StructField("Order Date", DateType(), True),
                            StructField("CustomerName", StringType(), True),
                            StructField("State", StringType(), True),
                            StructField("City", StringType(), True),
])
target_schema = StructType([
                            StructField("Month of Order Date", StringType(), True),
                            StructField("Category", StringType(), True),
                            StructField("Target", FloatType(), True),
])
order_deets_df = spark.read.option("dateFormat", "dd-MM-yyyy").csv("archive/order_details.csv", header = True, schema = order_deets_schema).dropna()
orders_df = spark.read.option("dateFormat", "dd-MM-yyyy").csv("archive/orders.csv", header = True, schema = orders_schema)
target_df = spark.read.option("dateFormat", "dd-MM-yyyy").csv("archive/target.csv", header = True, schema = target_schema)

In [67]:
orders_df.show()

+--------+----------+------------+-----------------+------------------+
|Order ID|Order Date|CustomerName|            State|              City|
+--------+----------+------------+-----------------+------------------+
| B-25601|2018-04-01|      Bharat|          Gujarat|         Ahmedabad|
| B-25602|2018-04-01|       Pearl|      Maharashtra|              Pune|
| B-25603|2018-04-03|       Jahan|   Madhya Pradesh|            Bhopal|
| B-25604|2018-04-03|      Divsha|        Rajasthan|            Jaipur|
| B-25605|2018-04-05|     Kasheen|      West Bengal|           Kolkata|
| B-25606|2018-04-06|       Hazel|        Karnataka|         Bangalore|
| B-25607|2018-04-06|    Sonakshi|Jammu and Kashmir|           Kashmir|
| B-25608|2018-04-08|     Aarushi|       Tamil Nadu|           Chennai|
| B-25609|2018-04-09|      Jitesh|    Uttar Pradesh|           Lucknow|
| B-25610|2018-04-09|      Yogesh|            Bihar|             Patna|
| B-25611|2018-04-11|       Anita|          Kerala |Thiruvananthapuram|
| B-25612|2018-04-12|   Shrichand|           Punjab|        Chandigarh|
| B-25613|2018-04-12|      Mukesh|          Haryana|        Chandigarh|
| B-25614|2018-04-13|     Vandana| Himachal Pradesh|             Simla|
| B-25615|2018-04-15|      Bhavna|           Sikkim|           Gangtok|
| B-25616|2018-04-15|       Kanak|              Goa|               Goa|
| B-25617|2018-04-17|       Sagar|         Nagaland|            Kohima|
| B-25618|2018-04-18|       Manju|   Andhra Pradesh|         Hyderabad|
| B-25619|2018-04-18|      Ramesh|          Gujarat|         Ahmedabad|
| B-25620|2018-04-20|      Sarita|      Maharashtra|              Pune|
+--------+----------+------------+-----------------+------------------+
only showing top 20 rows

In [5]:
order_deets_df.printSchema()
orders_df.printSchema()
target_df.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- Profit: float (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-category: string (nullable = true)

root
 |-- Order ID: string (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- State: string (nullable = true)
 |-- City: string (nullable = true)

root
 |-- Month of Order Date: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Target: float (nullable = true)

## **1. Max Loss and Max Profit Order**

In [6]:
from pyspark.sql.functions import sum


order_grouped = order_deets_df.groupBy("Order ID").agg(sum("Profit").alias("Profit Per Order"))

**Max Profit and Min Profit Using Order By**

In [13]:
order_pl = order_grouped.orderBy("Profit Per Order", ascending = False)
order_pl.collect()

[Row(Order ID='B-25973', Profit Per Order=1970.0),
 Row(Order ID='B-25855', Profit Per Order=1432.0),
 Row(Order ID='B-25656', Profit Per Order=1021.0),
 Row(Order ID='B-26093', Profit Per Order=1020.0),
 Row(Order ID='B-25761', Profit Per Order=984.0),
 Row(Order ID='B-25602', Profit Per Order=975.0),
 Row(Order ID='B-25853', Profit Per Order=970.0),
 Row(Order ID='B-25923', Profit Per Order=966.0),
 Row(Order ID='B-26051', Profit Per Order=906.0),
 Row(Order ID='B-26073', Profit Per Order=889.0),
 Row(Order ID='B-25830', Profit Per Order=873.0),
 Row(Order ID='B-25858', Profit Per Order=868.0),
 Row(Order ID='B-25993', Profit Per Order=864.0),
 Row(Order ID='B-26099', Profit Per Order=859.0),
 Row(Order ID='B-25803', Profit Per Order=820.0),
 Row(Order ID='B-25862', Profit Per Order=745.0),
 Row(Order ID='B-25850', Profit Per Order=685.0),
 Row(Order ID='B-26055', Profit Per Order=683.0),
 Row(Order ID='B-25878', Profit Per Order=672.0),
 Row(Order ID='B-25955', Profit Per Order=669.0),
 Row(Order ID='B-25964', Profit Per Order=660.0),
 Row(Order ID='B-26085', Profit Per Order=653.0),
 Row(Order ID='B-25959', Profit Per Order=627.0),
 Row(Order ID='B-25877', Profit Per Order=609.0),
 Row(Order ID='B-26028', Profit Per Order=583.0),
 Row(Order ID='B-26006', Profit Per Order=573.0),
 Row(Order ID='B-25854', Profit Per Order=526.0),
 Row(Order ID='B-25951', Profit Per Order=516.0),
 Row(Order ID='B-25935', Profit Per Order=512.0),
 Row(Order ID='B-26048', Profit Per Order=505.0),
 Row(Order ID='B-25919', Profit Per Order=501.0),
 Row(Order ID='B-26023', Profit Per Order=490.0),
 Row(Order ID='B-25839', Profit Per Order=486.0),
 Row(Order ID='B-25873', Profit Per Order=455.0),
 Row(Order ID='B-26053', Profit Per Order=454.0),
 Row(Order ID='B-25845', Profit Per Order=451.0),
 Row(Order ID='B-25909', Profit Per Order=450.0),
 Row(Order ID='B-26050', Profit Per Order=440.0),
 Row(Order ID='B-25629', Profit Per Order=421.0),
 Row(Order ID='B-25885', Profit Per Order=421.0),
 Row(Order ID='B-25999', Profit Per Order=420.0),
 Row(Order ID='B-25943', Profit Per Order=420.0),
 Row(Order ID='B-26057', Profit Per Order=404.0),
 Row(Order ID='B-26054', Profit Per Order=402.0),
 Row(Order ID='B-25881', Profit Per Order=400.0),
 Row(Order ID='B-25970', Profit Per Order=398.0),
 Row(Order ID='B-25747', Profit Per Order=395.0),
 Row(Order ID='B-25898', Profit Per Order=394.0),
 Row(Order ID='B-25953', Profit Per Order=391.0),
 Row(Order ID='B-25838', Profit Per Order=390.0),
 Row(Order ID='B-26061', Profit Per Order=387.0),
 Row(Order ID='B-25825', Profit Per Order=386.0),
 Row(Order ID='B-25823', Profit Per Order=380.0),
 Row(Order ID='B-25981', Profit Per Order=377.0),
 Row(Order ID='B-25893', Profit Per Order=376.0),
 Row(Order ID='B-25842', Profit Per Order=370.0),
 Row(Order ID='B-25755', Profit Per Order=354.0),
 Row(Order ID='B-25937', Profit Per Order=352.0),
 Row(Order ID='B-26098', Profit Per Order=350.0),
 Row(Order ID='B-25851', Profit Per Order=343.0),
 Row(Order ID='B-25995', Profit Per Order=342.0),
 Row(Order ID='B-25810', Profit Per Order=339.0),
 Row(Order ID='B-25929', Profit Per Order=316.0),
 Row(Order ID='B-25986', Profit Per Order=310.0),
 Row(Order ID='B-26070', Profit Per Order=310.0),
 Row(Order ID='B-25847', Profit Per Order=296.0),
 Row(Order ID='B-25952', Profit Per Order=295.0),
 Row(Order ID='B-25852', Profit Per Order=290.0),
 Row(Order ID='B-25903', Profit Per Order=287.0),
 Row(Order ID='B-26035', Profit Per Order=285.0),
 Row(Order ID='B-25868', Profit Per Order=278.0),
 Row(Order ID='B-25996', Profit Per Order=275.0),
 Row(Order ID='B-26076', Profit Per Order=275.0),
 Row(Order ID='B-25950', Profit Per Order=268.0),
 Row(Order ID='B-25857', Profit Per Order=264.0),
 Row(Order ID='B-25826', Profit Per Order=261.0),
 Row(Order ID='B-26100', Profit Per Order=256.0),
 Row(Order ID='B-25831', Profit Per Order=254.0),
 Row(Order ID='B-25859', Profit Per Order=253.0),
 Row(Order ID='B-26000', Profit Per Order=253.0),
 Row(Order ID='B-25969', Profit Per Order=251.0),
 Row(Order ID='B-25997', Profit Per Order=247.0),
 Row(Order ID='B-25667', Profit Per Order=245.0),
 Row(Order ID='B-26052', Profit Per Order=245.0),
 Row(Order ID='B-25902', Profit Per Order=243.0),
 Row(Order ID='B-25752', Profit Per Order=241.0),
 Row(Order ID='B-25887', Profit Per Order=240.0),
 Row(Order ID='B-25974', Profit Per Order=240.0),
 Row(Order ID='B-25897', Profit Per Order=239.0),
 Row(Order ID='B-26033', Profit Per Order=237.0),
 Row(Order ID='B-25966', Profit Per Order=234.0),
 Row(Order ID='B-26056', Profit Per Order=225.0),
 Row(Order ID='B-25888', Profit Per Order=219.0),
 Row(Order ID='B-26067', Profit Per Order=216.0),
 Row(Order ID='B-25870', Profit Per Order=208.0),
 Row(Order ID='B-25890', Profit Per Order=207.0),
 Row(Order ID='B-25814', Profit Per Order=204.0),
 Row(Order ID='B-25813', Profit Per Order=202.0),
 Row(Order ID='B-26078', Profit Per Order=202.0),
 Row(Order ID='B-25840', Profit Per Order=199.0),
 Row(Order ID='B-26030', Profit Per Order=199.0),
 Row(Order ID='B-25786', Profit Per Order=196.0),
 Row(Order ID='B-25717', Profit Per Order=193.0),
 Row(Order ID='B-25896', Profit Per Order=190.0),
 Row(Order ID='B-26034', Profit Per Order=183.0),
 Row(Order ID='B-26019', Profit Per Order=175.0),
 Row(Order ID='B-25930', Profit Per Order=173.0),
 Row(Order ID='B-25914', Profit Per Order=165.0),
 Row(Order ID='B-26045', Profit Per Order=157.0),
 Row(Order ID='B-25989', Profit Per Order=156.0),
 Row(Order ID='B-25961', Profit Per Order=154.0),
 Row(Order ID='B-25968', Profit Per Order=154.0),
 Row(Order ID='B-25718', Profit Per Order=146.0),
 Row(Order ID='B-25979', Profit Per Order=144.0),
 Row(Order ID='B-25904', Profit Per Order=143.0),
 Row(Order ID='B-26043', Profit Per Order=143.0),
 Row(Order ID='B-25828', Profit Per Order=141.0),
 Row(Order ID='B-26009', Profit Per Order=140.0),
 Row(Order ID='B-25886', Profit Per Order=139.0),
 Row(Order ID='B-25663', Profit Per Order=138.0),
 Row(Order ID='B-25715', Profit Per Order=137.0),
 Row(Order ID='B-26014', Profit Per Order=136.0),
 Row(Order ID='B-25900', Profit Per Order=132.0),
 Row(Order ID='B-25954', Profit Per Order=131.0),
 Row(Order ID='B-25856', Profit Per Order=130.0),
 Row(Order ID='B-26002', Profit Per Order=128.0),
 Row(Order ID='B-25618', Profit Per Order=127.0),
 Row(Order ID='B-26040', Profit Per Order=126.0),
 Row(Order ID='B-25849', Profit Per Order=123.0),
 Row(Order ID='B-25918', Profit Per Order=122.0),
 Row(Order ID='B-26096', Profit Per Order=121.0),
 Row(Order ID='B-25785', Profit Per Order=121.0),
 Row(Order ID='B-26086', Profit Per Order=120.0),
 Row(Order ID='B-26087', Profit Per Order=119.0),
 Row(Order ID='B-26003', Profit Per Order=117.0),
 Row(Order ID='B-25843', Profit Per Order=117.0),
 Row(Order ID='B-26004', Profit Per Order=117.0),
 Row(Order ID='B-25832', Profit Per Order=116.0),
 Row(Order ID='B-26018', Profit Per Order=115.0),
 Row(Order ID='B-25816', Profit Per Order=113.0),
 Row(Order ID='B-25636', Profit Per Order=113.0),
 Row(Order ID='B-25685', Profit Per Order=112.0),
 Row(Order ID='B-25772', Profit Per Order=106.0),
 Row(Order ID='B-26020', Profit Per Order=102.0),
 Row(Order ID='B-26038', Profit Per Order=100.0),
 Row(Order ID='B-25984', Profit Per Order=97.0),
 Row(Order ID='B-26058', Profit Per Order=97.0),
 Row(Order ID='B-25901', Profit Per Order=95.0),
 Row(Order ID='B-25895', Profit Per Order=93.0),
 Row(Order ID='B-25939', Profit Per Order=92.0),
 Row(Order ID='B-25619', Profit Per Order=90.0),
 Row(Order ID='B-26091', Profit Per Order=89.0),
 Row(Order ID='B-25817', Profit Per Order=89.0),
 Row(Order ID='B-25863', Profit Per Order=87.0),
 Row(Order ID='B-25977', Profit Per Order=84.0),
 Row(Order ID='B-25971', Profit Per Order=83.0),
 Row(Order ID='B-25791', Profit Per Order=80.0),
 Row(Order ID='B-25883', Profit Per Order=80.0),
 Row(Order ID='B-25848', Profit Per Order=79.0),
 Row(Order ID='B-25891', Profit Per Order=79.0),
 Row(Order ID='B-26026', Profit Per Order=78.0),
 Row(Order ID='B-25809', Profit Per Order=78.0),
 Row(Order ID='B-26008', Profit Per Order=78.0),
 Row(Order ID='B-25949', Profit Per Order=77.0),
 Row(Order ID='B-25683', Profit Per Order=76.0),
 Row(Order ID='B-25818', Profit Per Order=73.0),
 Row(Order ID='B-25659', Profit Per Order=72.0),
 Row(Order ID='B-26007', Profit Per Order=72.0),
 Row(Order ID='B-26060', Profit Per Order=68.0),
 Row(Order ID='B-26037', Profit Per Order=68.0),
 Row(Order ID='B-25947', Profit Per Order=68.0),
 Row(Order ID='B-26021', Profit Per Order=68.0),
 Row(Order ID='B-25956', Profit Per Order=67.0),
 Row(Order ID='B-25727', Profit Per Order=66.0),
 Row(Order ID='B-25836', Profit Per Order=65.0),
 Row(Order ID='B-25985', Profit Per Order=65.0),
 Row(Order ID='B-25889', Profit Per Order=64.0),
 Row(Order ID='B-25957', Profit Per Order=62.0),
 Row(Order ID='B-25804', Profit Per Order=62.0),
 Row(Order ID='B-25894', Profit Per Order=62.0),
 Row(Order ID='B-26016', Profit Per Order=61.0),
 Row(Order ID='B-25771', Profit Per Order=59.0),
 Row(Order ID='B-25958', Profit Per Order=57.0),
 Row(Order ID='B-26015', Profit Per Order=55.0),
 Row(Order ID='B-25757', Profit Per Order=55.0),
 Row(Order ID='B-25874', Profit Per Order=54.0),
 Row(Order ID='B-25924', Profit Per Order=54.0),
 Row(Order ID='B-25811', Profit Per Order=52.0),
 Row(Order ID='B-25867', Profit Per Order=52.0),
 Row(Order ID='B-26083', Profit Per Order=50.0),
 Row(Order ID='B-26094', Profit Per Order=50.0),
 Row(Order ID='B-25837', Profit Per Order=50.0),
 Row(Order ID='B-25905', Profit Per Order=50.0),
 Row(Order ID='B-25819', Profit Per Order=49.0),
 Row(Order ID='B-25991', Profit Per Order=48.0),
 Row(Order ID='B-25635', Profit Per Order=48.0),
 Row(Order ID='B-25770', Profit Per Order=48.0),
 Row(Order ID='B-25812', Profit Per Order=47.0),
 Row(Order ID='B-25972', Profit Per Order=47.0),
 Row(Order ID='B-25833', Profit Per Order=47.0),
 Row(Order ID='B-25748', Profit Per Order=46.0),
 Row(Order ID='B-25620', Profit Per Order=46.0),
 Row(Order ID='B-26072', Profit Per Order=44.0),
 Row(Order ID='B-26036', Profit Per Order=44.0),
 Row(Order ID='B-26011', Profit Per Order=44.0),
 Row(Order ID='B-25694', Profit Per Order=43.0),
 Row(Order ID='B-26064', Profit Per Order=43.0),
 Row(Order ID='B-26089', Profit Per Order=42.0),
 Row(Order ID='B-25614', Profit Per Order=42.0),
 Row(Order ID='B-25684', Profit Per Order=42.0),
 Row(Order ID='B-25992', Profit Per Order=41.0),
 Row(Order ID='B-25899', Profit Per Order=41.0),
 Row(Order ID='B-25941', Profit Per Order=41.0),
 Row(Order ID='B-25835', Profit Per Order=39.0),
 Row(Order ID='B-25944', Profit Per Order=38.0),
 Row(Order ID='B-25621', Profit Per Order=38.0),
 Row(Order ID='B-25829', Profit Per Order=38.0),
 Row(Order ID='B-25824', Profit Per Order=38.0),
 Row(Order ID='B-25794', Profit Per Order=37.0),
 Row(Order ID='B-25880', Profit Per Order=37.0),
 Row(Order ID='B-25967', Profit Per Order=37.0),
 Row(Order ID='B-26080', Profit Per Order=35.0),
 Row(Order ID='B-26010', Profit Per Order=34.0),
 Row(Order ID='B-26039', Profit Per Order=34.0),
 Row(Order ID='B-26068', Profit Per Order=33.0),
 Row(Order ID='B-25934', Profit Per Order=33.0),
 Row(Order ID='B-25990', Profit Per Order=32.0),
 Row(Order ID='B-25892', Profit Per Order=30.0),
 Row(Order ID='B-25638', Profit Per Order=29.0),
 Row(Order ID='B-25692', Profit Per Order=28.0),
 Row(Order ID='B-25879', Profit Per Order=28.0),
 Row(Order ID='B-26049', Profit Per Order=28.0),
 Row(Order ID='B-25864', Profit Per Order=28.0),
 Row(Order ID='B-26001', Profit Per Order=28.0),
 Row(Order ID='B-25906', Profit Per Order=27.0),
 Row(Order ID='B-25872', Profit Per Order=27.0),
 Row(Order ID='B-25642', Profit Per Order=26.0),
 Row(Order ID='B-25938', Profit Per Order=26.0),
 Row(Order ID='B-25916', Profit Per Order=26.0),
 Row(Order ID='B-25936', Profit Per Order=25.0),
 Row(Order ID='B-25908', Profit Per Order=25.0),
 Row(Order ID='B-25871', Profit Per Order=25.0),
 Row(Order ID='B-26025', Profit Per Order=25.0),
 Row(Order ID='B-25808', Profit Per Order=25.0),
 Row(Order ID='B-25928', Profit Per Order=25.0),
 Row(Order ID='B-25988', Profit Per Order=24.0),
 Row(Order ID='B-25860', Profit Per Order=24.0),
 Row(Order ID='B-25609', Profit Per Order=24.0),
 Row(Order ID='B-25948', Profit Per Order=23.0),
 Row(Order ID='B-26090', Profit Per Order=22.0),
 Row(Order ID='B-26066', Profit Per Order=22.0),
 Row(Order ID='B-25604', Profit Per Order=22.0),
 Row(Order ID='B-25691', Profit Per Order=22.0),
 Row(Order ID='B-25821', Profit Per Order=21.0),
 Row(Order ID='B-25913', Profit Per Order=21.0),
 Row(Order ID='B-26074', Profit Per Order=21.0),
 Row(Order ID='B-25827', Profit Per Order=21.0),
 Row(Order ID='B-25615', Profit Per Order=20.0),
 Row(Order ID='B-25882', Profit Per Order=19.0),
 Row(Order ID='B-26065', Profit Per Order=19.0),
 Row(Order ID='B-26024', Profit Per Order=18.0),
 Row(Order ID='B-26069', Profit Per Order=18.0),
 Row(Order ID='B-25922', Profit Per Order=18.0),
 Row(Order ID='B-25668', Profit Per Order=17.0),
 Row(Order ID='B-25746', Profit Per Order=16.0),
 Row(Order ID='B-26042', Profit Per Order=15.0),
 Row(Order ID='B-25805', Profit Per Order=15.0),
 Row(Order ID='B-25714', Profit Per Order=15.0),
 Row(Order ID='B-25607', Profit Per Order=15.0),
 Row(Order ID='B-26032', Profit Per Order=15.0),
 Row(Order ID='B-25911', Profit Per Order=15.0),
 Row(Order ID='B-26092', Profit Per Order=14.0),
 Row(Order ID='B-25637', Profit Per Order=14.0),
 Row(Order ID='B-25815', Profit Per Order=14.0),
 Row(Order ID='B-25866', Profit Per Order=14.0),
 Row(Order ID='B-25695', Profit Per Order=14.0),
 Row(Order ID='B-25876', Profit Per Order=14.0),
 Row(Order ID='B-25765', Profit Per Order=14.0),
 Row(Order ID='B-25822', Profit Per Order=13.0),
 Row(Order ID='B-25917', Profit Per Order=12.0),
 Row(Order ID='B-25624', Profit Per Order=12.0),
 Row(Order ID='B-26075', Profit Per Order=12.0),
 Row(Order ID='B-26047', Profit Per Order=12.0),
 Row(Order ID='B-25912', Profit Per Order=11.0),
 Row(Order ID='B-25980', Profit Per Order=11.0),
 Row(Order ID='B-25841', Profit Per Order=11.0),
 Row(Order ID='B-25907', Profit Per Order=11.0),
 Row(Order ID='B-25987', Profit Per Order=11.0),
 Row(Order ID='B-26077', Profit Per Order=11.0),
 Row(Order ID='B-26029', Profit Per Order=10.0),
 Row(Order ID='B-26013', Profit Per Order=10.0),
 Row(Order ID='B-25690', Profit Per Order=10.0),
 Row(Order ID='B-26044', Profit Per Order=10.0),
 Row(Order ID='B-26005', Profit Per Order=10.0),
 Row(Order ID='B-25719', Profit Per Order=10.0),
 Row(Order ID='B-25658', Profit Per Order=9.0),
 Row(Order ID='B-25869', Profit Per Order=9.0),
 Row(Order ID='B-26031', Profit Per Order=9.0),
 Row(Order ID='B-25963', Profit Per Order=8.0),
 Row(Order ID='B-25976', Profit Per Order=8.0),
 Row(Order ID='B-26027', Profit Per Order=8.0),
 Row(Order ID='B-25844', Profit Per Order=8.0),
 Row(Order ID='B-26012', Profit Per Order=8.0),
 Row(Order ID='B-25875', Profit Per Order=8.0),
 Row(Order ID='B-25946', Profit Per Order=7.0),
 Row(Order ID='B-25940', Profit Per Order=7.0),
 Row(Order ID='B-25927', Profit Per Order=7.0),
 Row(Order ID='B-25965', Profit Per Order=7.0),
 Row(Order ID='B-26017', Profit Per Order=7.0),
 Row(Order ID='B-25920', Profit Per Order=7.0),
 Row(Order ID='B-25846', Profit Per Order=7.0),
 Row(Order ID='B-26059', Profit Per Order=6.0),
 Row(Order ID='B-25807', Profit Per Order=6.0),
 Row(Order ID='B-25926', Profit Per Order=6.0),
 Row(Order ID='B-26082', Profit Per Order=5.0),
 Row(Order ID='B-26088', Profit Per Order=5.0),
 Row(Order ID='B-25834', Profit Per Order=5.0),
 Row(Order ID='B-25606', Profit Per Order=4.0),
 Row(Order ID='B-25784', Profit Per Order=4.0),
 Row(Order ID='B-26071', Profit Per Order=4.0),
 Row(Order ID='B-25788', Profit Per Order=3.0),
 Row(Order ID='B-25915', Profit Per Order=3.0),
 Row(Order ID='B-25982', Profit Per Order=3.0),
 Row(Order ID='B-26079', Profit Per Order=3.0),
 Row(Order ID='B-26046', Profit Per Order=3.0),
 Row(Order ID='B-25623', Profit Per Order=3.0),
 Row(Order ID='B-25884', Profit Per Order=2.0),
 Row(Order ID='B-25975', Profit Per Order=2.0),
 Row(Order ID='B-25820', Profit Per Order=1.0),
 Row(Order ID='B-26095', Profit Per Order=1.0),
 Row(Order ID='B-25605', Profit Per Order=0.0),
 Row(Order ID='B-25613', Profit Per Order=0.0),
 Row(Order ID='B-25671', Profit Per Order=0.0),
 Row(Order ID='B-25705', Profit Per Order=0.0),
 Row(Order ID='B-25716', Profit Per Order=0.0),
 Row(Order ID='B-25622', Profit Per Order=0.0),
 Row(Order ID='B-25865', Profit Per Order=-1.0),
 Row(Order ID='B-25677', Profit Per Order=-2.0),
 Row(Order ID='B-25632', Profit Per Order=-2.0),
 Row(Order ID='B-25758', Profit Per Order=-2.0),
 Row(Order ID='B-25790', Profit Per Order=-3.0),
 Row(Order ID='B-25769', Profit Per Order=-4.0),
 Row(Order ID='B-25670', Profit Per Order=-4.0),
 Row(Order ID='B-25628', Profit Per Order=-4.0),
 Row(Order ID='B-25732', Profit Per Order=-5.0),
 Row(Order ID='B-25641', Profit Per Order=-6.0),
 Row(Order ID='B-25707', Profit Per Order=-6.0),
 Row(Order ID='B-25774', Profit Per Order=-6.0),
 Row(Order ID='B-25647', Profit Per Order=-6.0),
 Row(Order ID='B-25741', Profit Per Order=-6.0),
 Row(Order ID='B-25994', Profit Per Order=-7.0),
 Row(Order ID='B-25736', Profit Per Order=-7.0),
 Row(Order ID='B-25721', Profit Per Order=-7.0),
 Row(Order ID='B-25742', Profit Per Order=-8.0),
 Row(Order ID='B-25646', Profit Per Order=-8.0),
 Row(Order ID='B-25722', Profit Per Order=-8.0),
 Row(Order ID='B-25759', Profit Per Order=-9.0),
 Row(Order ID='B-25945', Profit Per Order=-9.0),
 Row(Order ID='B-25735', Profit Per Order=-10.0),
 Row(Order ID='B-25706', Profit Per Order=-11.0),
 Row(Order ID='B-25674', Profit Per Order=-12.0),
 Row(Order ID='B-25932', Profit Per Order=-14.0),
 Row(Order ID='B-25672', Profit Per Order=-15.0),
 Row(Order ID='B-25737', Profit Per Order=-15.0),
 Row(Order ID='B-25978', Profit Per Order=-15.0),
 Row(Order ID='B-25925', Profit Per Order=-15.0),
 Row(Order ID='B-25775', Profit Per Order=-17.0),
 Row(Order ID='B-25725', Profit Per Order=-17.0),
 Row(Order ID='B-25709', Profit Per Order=-18.0),
 Row(Order ID='B-25766', Profit Per Order=-19.0),
 Row(Order ID='B-25734', Profit Per Order=-19.0),
 Row(Order ID='B-25776', Profit Per Order=-20.0),
 Row(Order ID='B-25795', Profit Per Order=-21.0),
 Row(Order ID='B-25962', Profit Per Order=-22.0),
 Row(Order ID='B-25782', Profit Per Order=-22.0),
 Row(Order ID='B-25942', Profit Per Order=-23.0),
 Row(Order ID='B-25680', Profit Per Order=-25.0),
 Row(Order ID='B-25792', Profit Per Order=-25.0),
 Row(Order ID='B-25649', Profit Per Order=-25.0),
 Row(Order ID='B-26041', Profit Per Order=-28.0),
 Row(Order ID='B-25998', Profit Per Order=-28.0),
 Row(Order ID='B-25720', Profit Per Order=-35.0),
 Row(Order ID='B-25931', Profit Per Order=-36.0),
 Row(Order ID='B-25801', Profit Per Order=-37.0),
 Row(Order ID='B-25861', Profit Per Order=-38.0),
 Row(Order ID='B-25627', Profit Per Order=-39.0),
 Row(Order ID='B-25780', Profit Per Order=-41.0),
 Row(Order ID='B-25783', Profit Per Order=-42.0),
 Row(Order ID='B-25740', Profit Per Order=-45.0),
 Row(Order ID='B-25687', Profit Per Order=-48.0),
 Row(Order ID='B-25616', Profit Per Order=-48.0),
 Row(Order ID='B-25679', Profit Per Order=-50.0),
 Row(Order ID='B-25724', Profit Per Order=-51.0),
 Row(Order ID='B-25763', Profit Per Order=-52.0),
 Row(Order ID='B-25612', Profit Per Order=-55.0),
 Row(Order ID='B-25739', Profit Per Order=-56.0),
 Row(Order ID='B-25711', Profit Per Order=-58.0),
 Row(Order ID='B-25751', Profit Per Order=-58.0),
 Row(Order ID='B-26062', Profit Per Order=-59.0),
 Row(Order ID='B-25611', Profit Per Order=-59.0),
 Row(Order ID='B-25733', Profit Per Order=-59.0),
 Row(Order ID='B-25800', Profit Per Order=-60.0),
 Row(Order ID='B-26084', Profit Per Order=-63.0),
 Row(Order ID='B-25704', Profit Per Order=-63.0),
 Row(Order ID='B-25713', Profit Per Order=-63.0),

In [14]:
import pyspark.sql.functions as F
print(order_pl.first())

last=order_pl.orderBy(F.monotonically_increasing_id().desc())
print(last.first())

Row(Order ID='B-25973', Profit Per Order=1970.0)
Row(Order ID='B-25798', Profit Per Order=-1836.0)

**Max Profit and Min Profit using Max and Min Functions**

In [15]:
order_grouped.agg(f.max(f.col("Profit Per Order")).alias("Max Profit")).show()
order_grouped.agg(f.min(f.col("Profit Per Order")).alias("Min Profit")).show()

+----------+
|Max Profit|
+----------+
|    1970.0|
+----------+

+----------+
|Min Profit|
+----------+
|   -1836.0|
+----------+

## **2. Max Profit and Min Profit Category**

In [16]:
category_pl = order_deets_df.groupBy("Category").agg(sum("Profit").alias("Profit Per Category")).orderBy("Profit Per Category", ascending = False)

**Most Profitable Category**

In [17]:
category_pl.first()

Row(Category='Clothing', Profit Per Category=11163.0)

**Least Profitable Category**

In [18]:
category_pl.tail(1)

AttributeError: 'DataFrame' object has no attribute 'tail'

## **3. Most Orders By State**

In [19]:
state_order = orders_df.groupBy("State").count().orderBy("Count", ascending = False)

In [20]:
state_order.first()

Row(State='Madhya Pradesh', count=101)

## **4. Most Sold Categries**

In [21]:
category_count = order_deets_df.groupBy("Category").agg(sum("Quantity").alias("Products Sold Per Cateory")).orderBy("Products Sold Per Cateory", ascending = False)

In [22]:
category_count.first()

Row(Category='Clothing', Products Sold Per Cateory=3516)

## **5. Target Achieved**

In [65]:
months = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
to_month = f.udf(lambda x: str(months[x]))
mod_year = f.udf(lambda x: str(x % 2000))


# Getting order timestamps
orders_na = orders_df.select("Order ID", "Order Date")\
.withColumn("Order Year", mod_year(f.year("Order Date")))\
.withColumn("Order Month", to_month(f.month("Order Date")))

TypeError: not all arguments converted during string formatting

In [64]:
orders_na.collect()

Py4JJavaError: An error occurred while calling o1021.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 72.0 failed 1 times, most recent failure: Lost task 0.0 in stage 72.0 (TID 5068, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 377, in main
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 372, in process
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 352, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 142, in dump_stream
    for obj in iterator:
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 341, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 85, in <lambda>
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\util.py", line 99, in wrapper
    return f(*args, **kwargs)
  File "C:\Users\DMS240~1\AppData\Local\Temp/ipykernel_20128/753241018.py", line 3, in <lambda>
TypeError: unsupported operand type(s) for %: 'NoneType' and 'int'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:456)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:81)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:64)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:410)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:260)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:252)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:411)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:417)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1925)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1913)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1912)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1912)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:948)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:948)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:948)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2146)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2095)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2084)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:759)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2067)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2088)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2107)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2132)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:990)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:385)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:989)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:304)
	at org.apache.spark.sql.Dataset$$anonfun$49.apply(Dataset.scala:3262)
	at org.apache.spark.sql.Dataset$$anonfun$49.apply(Dataset.scala:3260)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3369)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:80)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:127)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:75)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$withAction(Dataset.scala:3368)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3260)
	at sun.reflect.GeneratedMethodAccessor101.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 377, in main
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 372, in process
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 352, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 142, in dump_stream
    for obj in iterator:
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 341, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 85, in <lambda>
  File "C:\work\spark-2.4.8-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\util.py", line 99, in wrapper
    return f(*args, **kwargs)
  File "C:\Users\DMS240~1\AppData\Local\Temp/ipykernel_20128/753241018.py", line 3, in <lambda>
TypeError: unsupported operand type(s) for %: 'NoneType' and 'int'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:456)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:81)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:64)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:410)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:260)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:252)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:411)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:417)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [61]:
order_my = order_deets_df.join(orders_na, on = "Order ID", how = "left")\
.select(f.concat_ws("-", f.col("Order Month"), f.col("Order Year")).alias("Date"), "Category", "Amount")

DataFrame[Order ID: string, Order Date: date, Order Year: string, Order Month: string]

In [24]:
order_my_grouped = order_my.groupBy(["Date", "Category"]).agg(sum("Amount").alias("Amount"))

In [25]:
get_achieved = f.udf(lambda x, y: "No" if x < y else "Yes")

temp_target = target_df.select(f.col("Month of Order Date").alias("Date"), "Category", "Target")

temp_target.join(order_my_grouped, on = ["Date", "Category"], how = "inner")\
.withColumn("Achieved", get_achieved(f.col("Amount"), f.col("Target"))).show(5)

+------+-----------+-------+-------+--------+
|  Date|   Category| Target| Amount|Achieved|
+------+-----------+-------+-------+--------+
|Feb-19|Electronics|16000.0|12593.0|      No|
|Nov-18|Electronics| 9000.0|16651.0|     Yes|
|Mar-19|  Furniture|11800.0|16659.0|     Yes|
|Sep-18|Electronics| 9000.0| 7207.0|      No|
|Aug-18|   Clothing|14000.0|11822.0|      No|
+------+-----------+-------+-------+--------+
only showing top 5 rows

## **6. Best Customer**

In [26]:
order_amount = order_deets_df.groupBy("Order ID").agg(sum("Amount").alias("Amount"))
best_customer = orders_df.join(order_amount, on = "Order ID", how = "inner")\
.groupBy("CustomerName").agg(sum("Amount").alias("Total Purchase Amount")).orderBy("Total Purchase Amount", ascending = False)

In [27]:
best_customer.first()

Row(CustomerName='Yaanvi', Total Purchase Amount=9177.0)