In [1]:
import findspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructField,StructType,IntegerType,StringType,TimestampType,ArrayType
from pyspark.sql.functions import to_date,col
from pyspark.sql import functions as F
from pyspark.sql import Window
import os
import psycopg2

In [2]:
findspark.init()
# findspark.add_packages('file:///C:/Program Files (x86)/MySQL/Connector J 8.0/mysql-connector-java-8.0.23.jar')

In [32]:
spark.stop()

In [4]:
spark=SparkSession.builder.appName("SparkDF").config("spark.driver.extraClassPath", "mysql-connector-java-8.0.23.jar").enableHiveSupport().getOrCreate()
sc=spark.sparkContext

In [35]:
spark

# Creating DF (From RDDs)

In [19]:
rdd1=sc.textFile("data/ml-100k/u.item")
rdd1.take(3)

['1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0',
 '2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0',
 '3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0']

In [20]:
# df1.coalesce(1).write.save("item.parquet",format="parquet")

In [21]:
rdd1_split=rdd1.map(lambda x: x.split("|"))

In [22]:
rdd1_data=rdd1_split.map(lambda x: Row(id=int(x[0]), title=x[1],date=x[2],link=x[4],rating=[int(i) for i in x[5:]]))
print(rdd1_data.take(3))

[Row(date='01-Jan-1995', id=1, link='http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', rating=[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Toy Story (1995)'), Row(date='01-Jan-1995', id=2, link='http://us.imdb.com/M/title-exact?GoldenEye%20(1995)', rating=[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='GoldenEye (1995)'), Row(date='01-Jan-1995', id=3, link='http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Four Rooms (1995)')]

In [23]:
# way-1
df1=spark.createDataFrame(rdd1_data)
print(df1.printSchema())
print(df1.show(15))

root
 |-- date: string (nullable = true)
 |-- id: long (nullable = true)
 |-- link: string (nullable = true)
 |-- rating: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- title: string (nullable = true)

None
+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|    Toy Story (1995)|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|    GoldenEye (1995)|
|01-Jan-1995|  3|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|   Four Rooms (1995)|
|01-Jan-1995|  4|http://us.imdb.co...|[0, 1, 0, 0, 0, 1...|   Get Shorty (1995)|
|01-Jan-1995|  5|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|      Copycat (1995)|
|01-Jan-1995|  6|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Shanghai Triad (Y...|
|01-Jan-1995|  7|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Twelve Monkeys (1...|
|01-Jan-1995|  8|http://us.imdb.co...|[0, 0, 0, 0, 1, 1...|         Babe (1995)|
|01-Jan-1995|  9|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Dead Man Walking ...|
|22-Jan-1996| 10|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|  Richard III (1995)|
|01-Jan-1995| 11|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Seven (Se7en) (1995)|
|14-Aug-1995| 12|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Usual Suspects, T...|
|30-Oct-1995| 13|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|Mighty Aphrodite ...|
|01-Jan-1994| 14|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|  Postino, Il (1994)|
|29-Jan-1996| 15|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Mr. Holland's Opu...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 15 rows

None

In [8]:
# way-2
schema2=StructType([
    StructField("id",IntegerType(),True),
    StructField("title",StringType(),True),
    StructField("date",StringType(),True),
    StructField("rating",ArrayType(elementType=IntegerType()),True),
])
df2=spark.createDataFrame(rdd1_data,schema2) \
    .withColumn("date",to_date(col("date"),"dd-MMM-yyyy"))
df2.show(5)

+---+-----------------+----------+--------------------+
| id|            title|      date|              rating|
+---+-----------------+----------+--------------------+
|  1| Toy Story (1995)|1995-01-01|[0, 0, 0, 1, 1, 1...|
|  2| GoldenEye (1995)|1995-01-01|[0, 1, 1, 0, 0, 0...|
|  3|Four Rooms (1995)|1995-01-01|[0, 0, 0, 0, 0, 0...|
|  4|Get Shorty (1995)|1995-01-01|[0, 1, 0, 0, 0, 1...|
|  5|   Copycat (1995)|1995-01-01|[0, 0, 0, 0, 0, 0...|
+---+-----------------+----------+--------------------+
only showing top 5 rows

In [9]:
# way-3
def mapping(x):
    return (int(x[0]), (x[1][0:-7],x[1][-5:-1]),x[2],[int(i) for i in x[5:]])

rdd1_data2=rdd1_split.map(mapping)
print(rdd1_data2.take(3))

schema2=StructType([
    StructField("id",IntegerType(),True),
    StructField("title_year", StructType([
                StructField("title",StringType(), True),
                StructField("year",StringType(), True),
            ])),
    StructField("date",StringType(),True),
    StructField("rating",ArrayType(elementType=IntegerType()),True),
    
])
df3=spark.createDataFrame(rdd1_data2,schema2) \
    .withColumn("date",to_date(col("date"),"dd-MMM-yyyy"))
df3.show()

[(1, ('Toy Story', '1995'), '01-Jan-1995', [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), (2, ('GoldenEye', '1995'), '01-Jan-1995', [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]), (3, ('Four Rooms', '1995'), '01-Jan-1995', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])]
+---+--------------------+----------+--------------------+
| id|          title_year|      date|              rating|
+---+--------------------+----------+--------------------+
|  1|   [Toy Story, 1995]|1995-01-01|[0, 0, 0, 1, 1, 1...|
|  2|   [GoldenEye, 1995]|1995-01-01|[0, 1, 1, 0, 0, 0...|
|  3|  [Four Rooms, 1995]|1995-01-01|[0, 0, 0, 0, 0, 0...|
|  4|  [Get Shorty, 1995]|1995-01-01|[0, 1, 0, 0, 0, 1...|
|  5|     [Copycat, 1995]|1995-01-01|[0, 0, 0, 0, 0, 0...|
|  6|[Shanghai Triad (...|1995-01-01|[0, 0, 0, 0, 0, 0...|
|  7|[Twelve Monkeys, ...|1995-01-01|[0, 0, 0, 0, 0, 0...|
|  8|        [Babe, 1995]|1995-01-01|[0, 0, 0, 0, 1, 1...|
|  9|[Dead Man Walking...|1995-01-01|[0, 0, 0, 0, 0, 0...|
| 10| [Richard III, 1995]|1996-01-22|[0, 0, 0, 0, 0, 0...|
| 11|[Seven (Se7en), 1...|1995-01-01|[0, 0, 0, 0, 0, 0...|
| 12|[Usual Suspects, ...|1995-08-14|[0, 0, 0, 0, 0, 0...|
| 13|[Mighty Aphrodite...|1995-10-30|[0, 0, 0, 0, 0, 1...|
| 14| [Postino, Il, 1994]|1994-01-01|[0, 0, 0, 0, 0, 0...|
| 15|[Mr. Holland's Op...|1996-01-29|[0, 0, 0, 0, 0, 0...|
| 16|[French Twist (Ga...|1995-01-01|[0, 0, 0, 0, 0, 1...|
| 17|[From Dusk Till D...|1996-02-05|[0, 1, 0, 0, 0, 1...|
| 18|[White Balloon, T...|1995-01-01|[0, 0, 0, 0, 0, 0...|
| 19|[Antonia's Line, ...|1995-01-01|[0, 0, 0, 0, 0, 0...|
| 20|[Angels and Insec...|1995-01-01|[0, 0, 0, 0, 0, 0...|
+---+--------------------+----------+--------------------+
only showing top 20 rows

In [8]:
# way-4
df4 = spark.createDataFrame(
    [
        (1, None, "Brown"), 
        (None, "Tom", None), 
        (None, "Jerry", "Fox"), 
        (None, "Jerry", "Fox"), 
        (3, "Joshua", "Peterson"),
        (3, "Joshua", "Peterson"),
        (None, None, None)
    ], 
    ('id', 'firstName', 'lastName')
)
print(df4.show())
print(df4.printSchema())

+----+---------+--------+
|  id|firstName|lastName|
+----+---------+--------+
|   1|     null|   Brown|
|null|      Tom|    null|
|null|    Jerry|     Fox|
|null|    Jerry|     Fox|
|   3|   Joshua|Peterson|
|   3|   Joshua|Peterson|
|null|     null|    null|
+----+---------+--------+

None
root
 |-- id: long (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)

None

# Creating DF (From Spark Data Sources)

In [220]:
spark.read.json("data/ml-100k/item.json").show(3)
# spark.read.parquet("data/ml-100k/item.parquet").show(3)

# spark.read.load("data/ml-100k/item.json", format="json").show(3)
# spark.read.load("data/ml-100k/item.parquet", format="parquet").show(3)

# spark.read.format("json").load("data/ml-100k/item.json").show(3)
# spark.read.format("parquet").load("data/ml-100k/item.parquet").show(3)

# spark.read.format("json").json("data/ml-100k/item.json").show(3)
# spark.read.format("parquet").parquet("data/ml-100k/item.parquet").show(3)

# Valid for parquet only
# spark.read.load("data/ml-100k/item.parquet").show(3)


#  Invalid ways for all
# spark.read.json("data/ml-100k/item.json").format("json").show(3)
# spark.read.load("data/ml-100k/item.json").format("json").show(3)

+-----------+---+--------------------+-----------------+
|       date| id|                link|            title|
+-----------+---+--------------------+-----------------+
|01-Jan-1995|  1|http://us.imdb.co...| Toy Story (1995)|
|01-Jan-1995|  2|http://us.imdb.co...| GoldenEye (1995)|
|01-Jan-1995|  3|http://us.imdb.co...|Four Rooms (1995)|
+-----------+---+--------------------+-----------------+
only showing top 3 rows

+---+-----+-----+
|_c0|  _c1|  _c2|
+---+-----+-----+
|  1|     |Brown|
|   |  Tom|     |
|   |Jerry|  Fox|
+---+-----+-----+
only showing top 3 rows

+----+-----+-----+
| _c0|  _c1|  _c2|
+----+-----+-----+
|   1| null|Brown|
|null|  Tom| null|
|null|Jerry|  Fox|
+----+-----+-----+
only showing top 3 rows

In [30]:
df_csv1=spark.read.csv("data/withnull1.csv",sep=",",nullValue="NONE",inferSchema=True)
df_csv2=spark.read.csv("data/withnull2.csv",sep=",",nullValue="NONE",header=True,inferSchema=True,encoding="UTF-8")
df_csv3=spark.read.csv("data/withnull1.csv",sep=",",nullValue="NONE")
df_csv4=spark.read.csv("data/withnull2.csv",sep=",",nullValue="NONE",header=True,encoding="UTF-8")
df_csv1.show(3)
df_csv1.printSchema()
df_csv2.show(3)
df_csv2.printSchema()
df_csv3.show(3)
df_csv3.printSchema()
df_csv4.show(3)
df_csv4.printSchema()

+----+----+-----+
| _c0| _c1|  _c2|
+----+----+-----+
|   1|    |Brown|
|null|null| null|
|null|null| null|
+----+----+-----+
only showing top 3 rows

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

+----+-----+-----+
|  ID|Fname|Lname|
+----+-----+-----+
|   1| null|Brown|
|null|  Tom| null|
|null|Jerry|  Fox|
+----+-----+-----+
only showing top 3 rows

root
 |-- ID: integer (nullable = true)
 |-- Fname: string (nullable = true)
 |-- Lname: string (nullable = true)

+---+-----+-----+
|_c0|  _c1|  _c2|
+---+-----+-----+
|  1|     |Brown|
|   |  Tom|     |
|   |Jerry|  Fox|
+---+-----+-----+
only showing top 3 rows

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

+----+-----+-----+
|  ID|Fname|Lname|
+----+-----+-----+
|   1| null|Brown|
|null|  Tom| null|
|null|Jerry|  Fox|
+----+-----+-----+
only showing top 3 rows

root
 |-- ID: string (nullable = true)
 |-- Fname: string (nullable = true)
 |-- Lname: string (nullable = true)

In [20]:
spark.read.text("data/textFiles/sample1.txt").show(3)

+--------------------+
|               value|
+--------------------+
|Utilitatis causa ...|
|Lorem ipsum dolor...|
|                    |
+--------------------+
only showing top 3 rows

In [9]:
# from database
# restart jupyter if it doesn't work
user='root';pw='24081999'
table_name='users'
# postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]
url="jdbc:mysql://localhost:3306/oneqshopv1"
properties = {
    "user": user,
    "password": pw
}
df_db1=spark.read.option("driver", "com.mysql.jdbc.Driver").jdbc(url=url,table=table_name,properties=properties)
df_db1.show()

+---+--------------------+--------------------+----------+---------+--------------------+------------------+-------------+--------------------+------+-----+-----+----------+----------+
| id|            password|          last_login|first_name|last_name|               email|          username| phone_number|             picture|active|staff|admin|all_logout|is_deleted|
+---+--------------------+--------------------+----------+---------+--------------------+------------------+-------------+--------------------+------+-----+-----+----------+----------+
|  1|pbkdf2_sha256$180...|2021-05-27 16:14:...|          | Silveira|dms24081999@gmail...|             admin|+919594183245|media/public/prof...|  true| true| true|          |     false|
|  2|pbkdf2_sha256$180...|                null|          |         |       user1@dms.com|             user1|         null|                    |  true|false|false|          |     false|
|  3|pbkdf2_sha256$180...|                null|          |         |       user2@dms.com|             user2|         null|                    |  true|false|false|          |     false|
|  4|pbkdf2_sha256$180...|                null|          |         |       user3@dms.com|             user3|         null|                    |  true|false|false|          |     false|
| 17|pbkdf2_sha256$180...|2021-05-15 17:51:...|   Dominic| Silveira|dominicsilveira28...|dominicsilveira289|+919594183245|                    |  true|false|false|          |     false|
| 18|pbkdf2_sha256$180...|                null|   Dominic| Silveira|dominicsilveira23...|dms240819994545123|+919594183245|                    |  true|false|false|          |     false|
+---+--------------------+--------------------+----------+---------+--------------------+------------------+-------------+--------------------+------+-----+-----+----------+----------+

# Inspect Data

In [21]:
df1.dtypes # Return df column names and data types

[('date', 'string'),
 ('id', 'bigint'),
 ('link', 'string'),
 ('rating', 'array<bigint>'),
 ('title', 'string')]

In [24]:
# default: vertical=False, Truncate=True
df1.show(2,vertical=True,truncate=True)
df1.show(2,vertical=True,truncate=False)

-RECORD 0----------------------
 date   | 01-Jan-1995
 id     | 1
 link   | http://us.imdb.co...
 rating | [0, 0, 0, 1, 1, 1...
 title  | Toy Story (1995)
-RECORD 1----------------------
 date   | 01-Jan-1995
 id     | 2
 link   | http://us.imdb.co...
 rating | [0, 1, 1, 0, 0, 0...
 title  | GoldenEye (1995)
only showing top 2 rows

-RECORD 0-----------------------------------------------------------
 date   | 01-Jan-1995
 id     | 1
 link   | http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)
 rating | [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 title  | Toy Story (1995)
-RECORD 1-----------------------------------------------------------
 date   | 01-Jan-1995
 id     | 2
 link   | http://us.imdb.com/M/title-exact?GoldenEye%20(1995)
 rating | [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]
 title  | GoldenEye (1995)
only showing top 2 rows

In [27]:
print(df1.head(2),end="\n\n") # Return first n rows
print(df1.head()) # Return first row

[Row(date='01-Jan-1995', id=1, link='http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', rating=[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Toy Story (1995)'), Row(date='01-Jan-1995', id=2, link='http://us.imdb.com/M/title-exact?GoldenEye%20(1995)', rating=[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='GoldenEye (1995)')]

Row(date='01-Jan-1995', id=1, link='http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', rating=[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Toy Story (1995)')

In [63]:
df1.first() # Return first row

Row(date='01-Jan-1995', id=1, link='http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', rating=[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Toy Story (1995)')

In [64]:
df1.take(2) # Return the first n rows

[Row(date='01-Jan-1995', id=1, link='http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', rating=[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Toy Story (1995)'),
 Row(date='01-Jan-1995', id=2, link='http://us.imdb.com/M/title-exact?GoldenEye%20(1995)', rating=[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='GoldenEye (1995)')]

In [65]:
df1.schema # Return the schema of df

StructType(List(StructField(date,StringType,true),StructField(id,LongType,true),StructField(link,StringType,true),StructField(rating,ArrayType(LongType,true),true),StructField(title,StringType,true)))

In [66]:
df1.printSchema() # Return the schema of df

root
 |-- date: string (nullable = true)
 |-- id: long (nullable = true)
 |-- link: string (nullable = true)
 |-- rating: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- title: string (nullable = true)

In [28]:
df1.describe().show(vertical=True,truncate=False) # Compute summary statistics

-RECORD 0---------------------------------------------------------------
 summary | count
 date    | 1682
 id      | 1682
 link    | 1682
 title   | 1682
-RECORD 1---------------------------------------------------------------
 summary | mean
 date    | null
 id      | 841.5
 link    | null
 title   | null
-RECORD 2---------------------------------------------------------------
 summary | stddev
 date    | null
 id      | 485.69589250888254
 link    | null
 title   | null
-RECORD 3---------------------------------------------------------------
 summary | min
 date    |
 id      | 1
 link    |
 title   | 'Til There Was You (1997)
-RECORD 4---------------------------------------------------------------
 summary | max
 date    | 4-Feb-1971
 id      | 1682
 link    | http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)
 title   | � k�ldum klaka (Cold Fever) (1994)

In [68]:
df1.columns # Return the columns of df

['date', 'id', 'link', 'rating', 'title']

In [69]:
df1.count() # Count the number of rows in df

1682

In [70]:
df1.distinct().count() # Count the number of distinct rows in df

1682

In [42]:
df1.filter(df1.id>2).explain() # Print the (logical and physical) plans

== Physical Plan ==
*(1) Filter (isnotnull(id#1L) && (id#1L > 2))
+- Scan ExistingRDD[date#0,id#1L,link#2,rating#3,title#4]

# Duplicate Values

In [46]:
print(df4.count())
df4_dup = df4.dropDuplicates()
print(df4_dup.count())

7
5

# Queries (Select)

In [47]:
df1.select("id").show(2)

+---+
| id|
+---+
|  1|
|  2|
+---+
only showing top 2 rows

In [48]:
df1.select("id","title").show(2)

+---+----------------+
| id|           title|
+---+----------------+
|  1|Toy Story (1995)|
|  2|GoldenEye (1995)|
+---+----------------+
only showing top 2 rows

### explode

In [49]:
# Show all entries adn explode the list of rating
df1.select("id","title",F.explode("rating").alias("rating")).show(20)

+---+----------------+------+
| id|           title|rating|
+---+----------------+------+
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     1|
|  1|Toy Story (1995)|     1|
|  1|Toy Story (1995)|     1|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  1|Toy Story (1995)|     0|
|  2|GoldenEye (1995)|     0|
+---+----------------+------+
only showing top 20 rows

In [63]:
# Show all entries adn explode the list of rating and select only title from title_year
df3.select("id",col("title_year.title").alias("title"),F.explode("rating").alias("rating")) \
    .select("id","rating","title").show(20)

+---+------+---------+
| id|rating|    title|
+---+------+---------+
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     1|Toy Story|
|  1|     1|Toy Story|
|  1|     1|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  1|     0|Toy Story|
|  2|     0|GoldenEye|
+---+------+---------+
only showing top 20 rows

In [67]:
# Show all entries in title and id, add 1 to the entries of age
df1.select(df1.title,df1.id+1).show(3)
df1.select(df1["title"],df1["id"]+1).show(3)

+-----------------+--------+
|            title|(id + 1)|
+-----------------+--------+
| Toy Story (1995)|       2|
| GoldenEye (1995)|       3|
|Four Rooms (1995)|       4|
+-----------------+--------+
only showing top 3 rows

+-----------------+--------+
|            title|(id + 1)|
+-----------------+--------+
| Toy Story (1995)|       2|
| GoldenEye (1995)|       3|
|Four Rooms (1995)|       4|
+-----------------+--------+
only showing top 3 rows

In [66]:
df1.select(df1.title,F.lit(1),F.lit("H")).show(3)

+-----------------+---+---+
|            title|  1|  H|
+-----------------+---+---+
| Toy Story (1995)|  1|  H|
| GoldenEye (1995)|  1|  H|
|Four Rooms (1995)|  1|  H|
+-----------------+---+---+
only showing top 3 rows

In [72]:
# show all entries where id>1
df1.select(df1.title,df1["id"]>1).show(3)
# filter
df1.select(df1.title).filter(col("id")>1).show(3)

+-----------------+--------+
|            title|(id > 1)|
+-----------------+--------+
| Toy Story (1995)|   false|
| GoldenEye (1995)|    true|
|Four Rooms (1995)|    true|
+-----------------+--------+
only showing top 3 rows

+-----------------+
|            title|
+-----------------+
| GoldenEye (1995)|
|Four Rooms (1995)|
|Get Shorty (1995)|
+-----------------+
only showing top 3 rows

# Queries (Where)

In [141]:
df1.where(df1.id>100).show(2)

+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|08-Mar-1981|101|http://us.imdb.co...|[0, 1, 1, 1, 0, 0...|  Heavy Metal (1981)|
|01-Jan-1970|102|http://us.imdb.co...|[0, 0, 0, 1, 1, 0...|Aristocats, The (...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 2 rows

In [104]:
df1.where((col('id')>100) & (df1.title.like("H%"))).show(2)
df1.where((col('id')>100) & ~(df1.title.like("H%"))).show(2)
df1.where((col('id')>100) | (df1.title.like("H%"))).show(2)
df1.where((col('id')>100) | ~(df1.title.like("H%"))).show(2)
df1.select("title").where((col('id')>100) & (df1.rating[1]==1)).show(2)
df1.select("title","rating").where("id>100 AND rating[1]==1").show(2)

#invalid
# df1.select("title","rating").where("id>100 & rating[1]==1").show(2)
# df1.where(col('id')>100 & df1.rating[1]==1).show(2)

+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|08-Mar-1981|101|http://us.imdb.co...|[0, 1, 1, 1, 0, 0...|  Heavy Metal (1981)|
|19-Apr-1996|113|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Horseman on the R...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|01-Jan-1970|102|http://us.imdb.co...|[0, 0, 0, 1, 1, 0...|Aristocats, The (...|
|29-Mar-1996|103|http://us.imdb.co...|[0, 0, 0, 1, 1, 0...|All Dogs Go to He...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|01-Jan-1994| 48|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|  Hoop Dreams (1994)|
|01-Jan-1993| 80|http://us.imdb.co...|[0, 1, 0, 0, 0, 1...|Hot Shots! Part D...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|
+-----------+---+--------------------+--------------------+----------------+
only showing top 2 rows

+--------------------+
|               title|
+--------------------+
|  Heavy Metal (1981)|
|Operation Dumbo D...|
+--------------------+
only showing top 2 rows

+--------------------+--------------------+
|               title|              rating|
+--------------------+--------------------+
|  Heavy Metal (1981)|[0, 1, 1, 1, 0, 0...|
|Operation Dumbo D...|[0, 1, 1, 0, 0, 1...|
+--------------------+--------------------+
only showing top 2 rows

# Queries (Filter)

In [91]:
# Filter entries of id, only keep those records of which the values are >24
print(df1.select("title").filter(df1["id"]>24).show(2))
print(df1.select("title","id").filter(col("id")>24).show(2))
print(df1.select("title").filter(col("id")>24).show(2))
print(df1.filter(col("id")>24).show(2))

#invalid
print(df1.filter("id">24).show(2))

+--------------------+
|               title|
+--------------------+
|Birdcage, The (1996)|
|Brothers McMullen...|
+--------------------+
only showing top 2 rows

None
+--------------------+---+
|               title| id|
+--------------------+---+
|Birdcage, The (1996)| 25|
|Brothers McMullen...| 26|
+--------------------+---+
only showing top 2 rows

None
+--------------------+
|               title|
+--------------------+
|Birdcage, The (1996)|
|Brothers McMullen...|
+--------------------+
only showing top 2 rows

None
+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|08-Mar-1996| 25|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|Birdcage, The (1996)|
|01-Jan-1995| 26|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|Brothers McMullen...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 2 rows

None

TypeError: '>' not supported between instances of 'str' and 'int'

In [106]:
df1.filter((col("id")>24) & (df1.rating[1]==1)).show(2)
df1.filter((col("id")>24) & ~(df1.rating[1]==1)).show(2)
df1.filter((col("id")>24) | (df1.rating[1]==1)).show(2)
df1.filter((col("id")>24) | ~(df1.rating[1]==1)).show(2)
df1.select("title").filter((col('id')>100) & (df1.rating[1]==1)).show(2)
df1.select("title","rating").filter("id > 100 AND rating[1] == 1").show(2)

#invalid
# df1.select("title","rating").filter("id>100 & rating[1]==1").show(2)
# df1.select("title").filter(col("id")>24 & df1.rating[1]==1).show(2)

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995| 27|http://us.imdb.co...|[0, 1, 0, 0, 0, 0...| Bad Boys (1995)|
|01-Jan-1995| 28|http://us.imdb.co...|[0, 1, 0, 0, 0, 0...|Apollo 13 (1995)|
+-----------+---+--------------------+--------------------+----------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|08-Mar-1996| 25|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|Birdcage, The (1996)|
|01-Jan-1995| 26|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|Brothers McMullen...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+-----------------+
|       date| id|                link|              rating|            title|
+-----------+---+--------------------+--------------------+-----------------+
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...| GoldenEye (1995)|
|01-Jan-1995|  4|http://us.imdb.co...|[0, 1, 0, 0, 0, 1...|Get Shorty (1995)|
+-----------+---+--------------------+--------------------+-----------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+-----------------+
|       date| id|                link|              rating|            title|
+-----------+---+--------------------+--------------------+-----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...| Toy Story (1995)|
|01-Jan-1995|  3|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Four Rooms (1995)|
+-----------+---+--------------------+--------------------+-----------------+
only showing top 2 rows

+--------------------+
|               title|
+--------------------+
|  Heavy Metal (1981)|
|Operation Dumbo D...|
+--------------------+
only showing top 2 rows

+--------------------+--------------------+
|               title|              rating|
+--------------------+--------------------+
|  Heavy Metal (1981)|[0, 1, 1, 1, 0, 0...|
|Operation Dumbo D...|[0, 1, 1, 0, 0, 1...|
+--------------------+--------------------+
only showing top 2 rows

# Queries (When)

In [83]:
# Show firstName and 0 or 1 depending on id>2
df1.select("title",F.when(df1.id == 2, "Yes").when(df1.id == 3, "OK").otherwise("No")).show(3)

+-----------------+-------------------------------------------------------------+
|            title|CASE WHEN (id = 2) THEN Yes WHEN (id = 3) THEN OK ELSE No END|
+-----------------+-------------------------------------------------------------+
| Toy Story (1995)|                                                           No|
| GoldenEye (1995)|                                                          Yes|
|Four Rooms (1995)|                                                           OK|
+-----------------+-------------------------------------------------------------+
only showing top 3 rows

# Queries (isin)

In [82]:
# Show title if in the given options
df1[df1.title.isin("Toy Story (1995)","Four")].show(3)
df1.filter(df1.title.isin("Toy Story (1995)","Four")).show(3)

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
+-----------+---+--------------------+--------------------+----------------+

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
+-----------+---+--------------------+--------------------+----------------+

# Queries (Like)

In [99]:
# Show id and title is TRUE if title is like "Toy Story (1995)"
df1.select("id", df1.title.like("Toy Story (1995)")).show(3)

+---+---------------------------+
| id|title LIKE Toy Story (1995)|
+---+---------------------------+
|  1|                       true|
|  2|                      false|
|  3|                      false|
+---+---------------------------+
only showing top 3 rows

# Queries (Startswith - Endswith)

In [90]:
# Show title starting in "T" as True
df1.select("id",df1.title.startswith("T")).show(2)

# Show title ending in "Story (1995)" as True
df1.select("id",df1.title.endswith("Story (1995)")).show(2)

# filter
df1.filter(df1.title.startswith("T")).show(2)
df1.filter(df1.title.endswith("(1995)")).show(2)

+---+--------------------+
| id|startswith(title, T)|
+---+--------------------+
|  1|                true|
|  2|               false|
+---+--------------------+
only showing top 2 rows

+---+-----------------------------+
| id|endswith(title, Story (1995))|
+---+-----------------------------+
|  1|                         true|
|  2|                        false|
+---+-----------------------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+--------------------+
|       date| id|                link|              rating|               title|
+-----------+---+--------------------+--------------------+--------------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|    Toy Story (1995)|
|01-Jan-1995|  7|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Twelve Monkeys (1...|
+-----------+---+--------------------+--------------------+--------------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|
+-----------+---+--------------------+--------------------+----------------+
only showing top 2 rows

# Queries (Substring)

In [85]:
# Return substrings of title
df1.select(df1.title.substr(1, 3).alias("name")).show(2)
df1.filter(df1.title.substr(1, 3)=="Toy").show(2)

+----+
|name|
+----+
| Toy|
| Gol|
+----+
only showing top 2 rows

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
+-----------+---+--------------------+--------------------+----------------+

# Queries (Between)

In [86]:
# Show id: values are TRUE if between 2 and 3
df1.select(df1.id.between(2, 3)).show(3)
df1.filter(df1.id.between(2, 3)).show(3)

+-------------------------+
|((id >= 2) AND (id <= 3))|
+-------------------------+
|                    false|
|                     true|
|                     true|
+-------------------------+
only showing top 3 rows

+-----------+---+--------------------+--------------------+-----------------+
|       date| id|                link|              rating|            title|
+-----------+---+--------------------+--------------------+-----------------+
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...| GoldenEye (1995)|
|01-Jan-1995|  3|http://us.imdb.co...|[0, 0, 0, 0, 0, 0...|Four Rooms (1995)|
+-----------+---+--------------------+--------------------+-----------------+

# Queries (GroupBy)

In [107]:
# Group by title_year.year, count the members in the groups
df3.groupBy("title_year.year").count().show(3)

+----+-----+
|year|count|
+----+-----+
|1953|    2|
|1957|    8|
|1987|   14|
+----+-----+
only showing top 3 rows

In [108]:
df3.groupBy("title_year.year").agg(F.collect_list(col("title_year.title"))).show(3)

+----+------------------------------+
|year|collect_list(title_year.title)|
+----+------------------------------+
|1953|          [Roman Holiday, B...|
|1957|          [12 Angry Men, Br...|
|1987|          [Dirty Dancing, P...|
+----+------------------------------+
only showing top 3 rows

### mathematical Operations

In [112]:
df3.groupBy("title_year.year").agg(
    F.format_string("%04d", F.min("id")).alias("min_id_padded"),
    F.max("id").alias("max_id"),
    F.ceil(F.avg(df3.id)).alias("avg_ceil"),
    F.floor(F.avg(df3.id)).alias("avg_floor"),
    F.round(F.avg(df3.id),2).alias("avg_round"),
    F.format_number(F.avg(df3.id),3).alias('avg_round2')
).show(3)

+----+-------------+------+--------+---------+---------+----------+
|year|min_id_padded|max_id|avg_ceil|avg_floor|avg_round|avg_round2|
+----+-------------+------+--------+---------+---------+----------+
|1953|         0487|  1298|     893|      892|    892.5|   892.500|
|1957|         0178|  1269|     661|      660|    660.5|   660.500|
|1987|         0155|  1576|     743|      742|   742.79|   742.786|
+----+-------------+------+--------+---------+---------+----------+
only showing top 3 rows

In [109]:
print(df3.agg(F.max(df3.id)).head())
print(df3.agg(F.max(df3.id)).head()[0])
print(df3.agg(F.max(df3.id).alias("max")).head()["max"])
print(df3.agg(F.max(df3.id).alias("max")).collect())
print(df3.agg(F.max(df3.id).alias("max")).collect()[0]["max"])

Row(max(id)=1682)
1682
1682
[Row(max=1682)]
1682

# Queries (Pivot)

In [111]:
df5 = spark.createDataFrame( [('a',1), ('a',2), ('a',3),
                              ('a',1), ('b',1), ('b',2)], ('key', 'val') )
print(df5.show())
print(
    df5.groupBy('key').pivot('val').count().show()
)
print(
    df5.groupBy('key').pivot('val').sum('val').show()
)

+---+---+
|key|val|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  a|  1|
|  b|  1|
|  b|  2|
+---+---+

None
+---+---+---+----+
|key|  1|  2|   3|
+---+---+---+----+
|  b|  1|  1|null|
|  a|  2|  1|   1|
+---+---+---+----+

None
+---+---+---+----+
|key|  1|  2|   3|
+---+---+---+----+
|  b|  1|  2|null|
|  a|  2|  2|   3|
+---+---+---+----+

None

# Queries (Sample)

In [112]:
df6 = spark.createDataFrame( [('a',1), ('a',2), ('a',3),
                           ('b',1), ('b',2)], ('key', 'val') )
df6.show(vertical=True)

-RECORD 0--
 key | a
 val | 1
-RECORD 1--
 key | a
 val | 2
-RECORD 2--
 key | a
 val | 3
-RECORD 3--
 key | b
 val | 1
-RECORD 4--
 key | b
 val | 2

In [113]:
df6.sample(False,1.0,81).show()

+---+---+
|key|val|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  b|  1|
|  b|  2|
+---+---+

In [114]:
df6.sample(True,1.0,81).show()

+---+---+
|key|val|
+---+---+
|  a|  2|
|  a|  2|
|  b|  1|
|  b|  2|
+---+---+

In [175]:
df6.sample(False,0.50,5).show()

+---+---+
|key|val|
+---+---+
|  a|  3|
|  b|  1|
|  b|  2|
+---+---+

In [115]:
df6.sample(True,0.50,5).show()

+---+---+
|key|val|
+---+---+
|  a|  1|
|  a|  3|
|  b|  1|
|  b|  1|
+---+---+

# Queries (SampleBy)

In [117]:
df6.sampleBy("key",{"a":1.0},5).show()

+---+---+
|key|val|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
+---+---+

In [118]:
df6.sampleBy("key",{"a":1.0,"b":0.30},81).show()

+---+---+
|key|val|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  b|  2|
+---+---+

# Add, Update & Remove Columns (Adding Columns)

In [119]:
df1.withColumn('new_column', F.lit(None).cast(StringType())).show(2)

+-----------+---+--------------------+--------------------+----------------+----------+
|       date| id|                link|              rating|           title|new_column|
+-----------+---+--------------------+--------------------+----------------+----------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|      null|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|      null|
+-----------+---+--------------------+--------------------+----------------+----------+
only showing top 2 rows

In [120]:
df1.withColumn('new_column', F.lit('xyz')).show(2)

+-----------+---+--------------------+--------------------+----------------+----------+
|       date| id|                link|              rating|           title|new_column|
+-----------+---+--------------------+--------------------+----------------+----------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|       xyz|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|       xyz|
+-----------+---+--------------------+--------------------+----------------+----------+
only showing top 2 rows

In [121]:
df1.withColumn('new_column', 1.4 * F.col('id')).show(2)

+-----------+---+--------------------+--------------------+----------------+----------+
|       date| id|                link|              rating|           title|new_column|
+-----------+---+--------------------+--------------------+----------------+----------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|       1.4|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|       2.8|
+-----------+---+--------------------+--------------------+----------------+----------+
only showing top 2 rows

In [122]:
df3.withColumn("title",df3.title_year.title).show()

+---+--------------------+----------+--------------------+--------------------+
| id|          title_year|      date|              rating|               title|
+---+--------------------+----------+--------------------+--------------------+
|  1|   [Toy Story, 1995]|1995-01-01|[0, 0, 0, 1, 1, 1...|           Toy Story|
|  2|   [GoldenEye, 1995]|1995-01-01|[0, 1, 1, 0, 0, 0...|           GoldenEye|
|  3|  [Four Rooms, 1995]|1995-01-01|[0, 0, 0, 0, 0, 0...|          Four Rooms|
|  4|  [Get Shorty, 1995]|1995-01-01|[0, 1, 0, 0, 0, 1...|          Get Shorty|
|  5|     [Copycat, 1995]|1995-01-01|[0, 0, 0, 0, 0, 0...|             Copycat|
|  6|[Shanghai Triad (...|1995-01-01|[0, 0, 0, 0, 0, 0...|Shanghai Triad (Y...|
|  7|[Twelve Monkeys, ...|1995-01-01|[0, 0, 0, 0, 0, 0...|      Twelve Monkeys|
|  8|        [Babe, 1995]|1995-01-01|[0, 0, 0, 0, 1, 1...|                Babe|
|  9|[Dead Man Walking...|1995-01-01|[0, 0, 0, 0, 0, 0...|    Dead Man Walking|
| 10| [Richard III, 1995]|1996-01-22|[0, 0, 0, 0, 0, 0...|         Richard III|
| 11|[Seven (Se7en), 1...|1995-01-01|[0, 0, 0, 0, 0, 0...|       Seven (Se7en)|
| 12|[Usual Suspects, ...|1995-08-14|[0, 0, 0, 0, 0, 0...| Usual Suspects, The|
| 13|[Mighty Aphrodite...|1995-10-30|[0, 0, 0, 0, 0, 1...|    Mighty Aphrodite|
| 14| [Postino, Il, 1994]|1994-01-01|[0, 0, 0, 0, 0, 0...|         Postino, Il|
| 15|[Mr. Holland's Op...|1996-01-29|[0, 0, 0, 0, 0, 0...|  Mr. Holland's Opus|
| 16|[French Twist (Ga...|1995-01-01|[0, 0, 0, 0, 0, 1...|French Twist (Gaz...|
| 17|[From Dusk Till D...|1996-02-05|[0, 1, 0, 0, 0, 1...| From Dusk Till Dawn|
| 18|[White Balloon, T...|1995-01-01|[0, 0, 0, 0, 0, 0...|  White Balloon, The|
| 19|[Antonia's Line, ...|1995-01-01|[0, 0, 0, 0, 0, 0...|      Antonia's Line|
| 20|[Angels and Insec...|1995-01-01|[0, 0, 0, 0, 0, 0...|  Angels and Insects|
+---+--------------------+----------+--------------------+--------------------+
only showing top 20 rows

In [123]:
df3.withColumn("rating",F.explode(df3.rating)).show()

+---+-----------------+----------+------+
| id|       title_year|      date|rating|
+---+-----------------+----------+------+
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     1|
|  1|[Toy Story, 1995]|1995-01-01|     1|
|  1|[Toy Story, 1995]|1995-01-01|     1|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  1|[Toy Story, 1995]|1995-01-01|     0|
|  2|[GoldenEye, 1995]|1995-01-01|     0|
+---+-----------------+----------+------+
only showing top 20 rows

# Add, Update & Remove Columns (Updating Columns)

In [124]:
df3.withColumnRenamed('title_year', 'title').show(2)

+---+-----------------+----------+--------------------+
| id|            title|      date|              rating|
+---+-----------------+----------+--------------------+
|  1|[Toy Story, 1995]|1995-01-01|[0, 0, 0, 1, 1, 1...|
|  2|[GoldenEye, 1995]|1995-01-01|[0, 1, 1, 0, 0, 0...|
+---+-----------------+----------+--------------------+
only showing top 2 rows

# Add, Update & Remove Columns (Removing Columns)

In [125]:
df1.drop("title", "rating").show(2)

+-----------+---+--------------------+
|       date| id|                link|
+-----------+---+--------------------+
|01-Jan-1995|  1|http://us.imdb.co...|
|01-Jan-1995|  2|http://us.imdb.co...|
+-----------+---+--------------------+
only showing top 2 rows

In [126]:
df1.drop(df1.title).drop(df1.rating).show(2)

+-----------+---+--------------------+
|       date| id|                link|
+-----------+---+--------------------+
|01-Jan-1995|  1|http://us.imdb.co...|
|01-Jan-1995|  2|http://us.imdb.co...|
+-----------+---+--------------------+
only showing top 2 rows

# Sort or OrderBy

In [127]:
df1.sort(df1.date.desc()).show(3)
# df1.sort("date",ascending=False).show(3)

df1.sort(df1.date.desc(),df1.id.asc()).show(3)
# df1.sort(df1.date,df1.id,ascending=[False,True]).show(3)
# df1.sort(df1.date,df1.id,ascending=[0,1]).show(3)

+-----------+----+--------------------+--------------------+-------------------+
|       date|  id|                link|              rating|              title|
+-----------+----+--------------------+--------------------+-------------------+
| 4-Feb-1971|1373|http://us.imdb.co...|[1, 0, 0, 0, 0, 0...|Good Morning (1971)|
|31-May-1996| 819|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|       Eddie (1996)|
|31-May-1996| 472|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...| Dragonheart (1996)|
+-----------+----+--------------------+--------------------+-------------------+
only showing top 3 rows

+-----------+----+--------------------+--------------------+-------------------+
|       date|  id|                link|              rating|              title|
+-----------+----+--------------------+--------------------+-------------------+
| 4-Feb-1971|1373|http://us.imdb.co...|[1, 0, 0, 0, 0, 0...|Good Morning (1971)|
|31-May-1996| 472|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...| Dragonheart (1996)|
|31-May-1996| 819|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|       Eddie (1996)|
+-----------+----+--------------------+--------------------+-------------------+
only showing top 3 rows

In [128]:
df1.orderBy(df1.date.desc()).show(3)
# df1.orderBy("date",ascending=False).show(3)

df1.orderBy(df1.date.desc(),df1.id.asc()).show(3)
# df1.orderBy(df1.date,df1.id,ascending=[False,True]).show(3)
# df1.orderBy(df1.date,df1.id,ascending=[0,1]).show(3)

+-----------+----+--------------------+--------------------+-------------------+
|       date|  id|                link|              rating|              title|
+-----------+----+--------------------+--------------------+-------------------+
| 4-Feb-1971|1373|http://us.imdb.co...|[1, 0, 0, 0, 0, 0...|Good Morning (1971)|
|31-May-1996| 819|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|       Eddie (1996)|
|31-May-1996| 472|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...| Dragonheart (1996)|
+-----------+----+--------------------+--------------------+-------------------+
only showing top 3 rows

+-----------+----+--------------------+--------------------+-------------------+
|       date|  id|                link|              rating|              title|
+-----------+----+--------------------+--------------------+-------------------+
| 4-Feb-1971|1373|http://us.imdb.co...|[1, 0, 0, 0, 0, 0...|Good Morning (1971)|
|31-May-1996| 472|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...| Dragonheart (1996)|
|31-May-1996| 819|http://us.imdb.co...|[0, 0, 0, 0, 0, 1...|       Eddie (1996)|
+-----------+----+--------------------+--------------------+-------------------+
only showing top 3 rows

# Missing & Replacing Values

In [129]:
# Replace null values
df4.na.fill(50).show()

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
|  1|     null|   Brown|
| 50|      Tom|    null|
| 50|    Jerry|     Fox|
| 50|    Jerry|     Fox|
|  3|   Joshua|Peterson|
|  3|   Joshua|Peterson|
| 50|     null|    null|
+---+---------+--------+

In [130]:
# Replace null values of different data types
df4.na.fill(50).na.fill("hello").show()

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
|  1|    hello|   Brown|
| 50|      Tom|   hello|
| 50|    Jerry|     Fox|
| 50|    Jerry|     Fox|
|  3|   Joshua|Peterson|
|  3|   Joshua|Peterson|
| 50|    hello|   hello|
+---+---------+--------+

In [131]:
# Return new df omitting rows with null values
df4.na.drop().show()
df4.na.drop(how="any").show()

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
|  3|   Joshua|Peterson|
|  3|   Joshua|Peterson|
+---+---------+--------+

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
|  3|   Joshua|Peterson|
|  3|   Joshua|Peterson|
+---+---------+--------+

In [132]:
df4.na.drop(how="all").show()

+----+---------+--------+
|  id|firstName|lastName|
+----+---------+--------+
|   1|     null|   Brown|
|null|      Tom|    null|
|null|    Jerry|     Fox|
|null|    Jerry|     Fox|
|   3|   Joshua|Peterson|
|   3|   Joshua|Peterson|
+----+---------+--------+

In [136]:
df4.na.drop(how="any",subset=["firstName","lastName"]).show()
df4.na.drop(how="all",subset=["firstName","lastName"]).show()

+----+---------+--------+
|  id|firstName|lastName|
+----+---------+--------+
|null|    Jerry|     Fox|
|null|    Jerry|     Fox|
|   3|   Joshua|Peterson|
|   3|   Joshua|Peterson|
+----+---------+--------+

+----+---------+--------+
|  id|firstName|lastName|
+----+---------+--------+
|   1|     null|   Brown|
|null|      Tom|    null|
|null|    Jerry|     Fox|
|null|    Jerry|     Fox|
|   3|   Joshua|Peterson|
|   3|   Joshua|Peterson|
+----+---------+--------+

In [139]:
# thresh=2 = drop rows with 2 nulls or more
# drop rows that have less than `thresh` non-null values.
#     This overwrites the `how` parameter.
df4.na.drop(how="any",subset=["lastName"],thresh=1).show()
df4.na.drop(how="all",subset=["lastName"],thresh=1).show()
df4.na.drop(how="any",subset=["lastName"],thresh=2).show()
df4.na.drop(how="all",subset=["lastName"],thresh=2).show()

+----+---------+--------+
|  id|firstName|lastName|
+----+---------+--------+
|   1|     null|   Brown|
|null|    Jerry|     Fox|
|null|    Jerry|     Fox|
|   3|   Joshua|Peterson|
|   3|   Joshua|Peterson|
+----+---------+--------+

+----+---------+--------+
|  id|firstName|lastName|
+----+---------+--------+
|   1|     null|   Brown|
|null|    Jerry|     Fox|
|null|    Jerry|     Fox|
|   3|   Joshua|Peterson|
|   3|   Joshua|Peterson|
+----+---------+--------+

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
+---+---------+--------+

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
+---+---------+--------+

In [141]:
# Return new df replacing one value with another
df4.na.replace(1, 20).replace("Jerry", "bye").show()

+----+---------+--------+
|  id|firstName|lastName|
+----+---------+--------+
|  20|     null|   Brown|
|null|      Tom|    null|
|null|      bye|     Fox|
|null|      bye|     Fox|
|   3|   Joshua|Peterson|
|   3|   Joshua|Peterson|
|null|     null|    null|
+----+---------+--------+

# Data Structures

In [142]:
df1.rdd.collect() # Convert df into an RDD

[Row(date='01-Jan-1995', id=1, link='http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', rating=[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Toy Story (1995)'),
 Row(date='01-Jan-1995', id=2, link='http://us.imdb.com/M/title-exact?GoldenEye%20(1995)', rating=[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='GoldenEye (1995)'),
 Row(date='01-Jan-1995', id=3, link='http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Four Rooms (1995)'),
 Row(date='01-Jan-1995', id=4, link='http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)', rating=[0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Get Shorty (1995)'),
 Row(date='01-Jan-1995', id=5, link='http://us.imdb.com/M/title-exact?Copycat%20(1995)', rating=[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Copycat (1995)'),
 Row(date='01-Jan-1995', id=6, link='http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)'),
 Row(date='01-Jan-1995', id=7, link='http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], title='Twelve Monkeys (1995)'),
 Row(date='01-Jan-1995', id=8, link='http://us.imdb.com/M/title-exact?Babe%20(1995)', rating=[0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Babe (1995)'),
 Row(date='01-Jan-1995', id=9, link='http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Dead Man Walking (1995)'),
 Row(date='22-Jan-1996', id=10, link='http://us.imdb.com/M/title-exact?Richard%20III%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], title='Richard III (1995)'),
 Row(date='01-Jan-1995', id=11, link='http://us.imdb.com/M/title-exact?Se7en%20(1995)', rating=[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Seven (Se7en) (1995)'),
 Row(date='14-Aug-1995', id=12, link='http://us.imdb.com/M/title-exact?Usual%20Suspects,%20The%20(1995)', rating=[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Usual Suspects, The (1995)'),
 Row(date='30-Oct-1995', id=13, link='http://us.imdb.com/M/title-exact?Mighty%20Aphrodite%20(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Mighty Aphrodite (1995)'),
 Row(date='01-Jan-1994', id=14, link='http://us.imdb.com/M/title-exact?Postino,%20Il%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='Postino, Il (1994)'),
 Row(date='29-Jan-1996', id=15, link="http://us.imdb.com/M/title-exact?Mr.%20Holland's%20Opus%20(1995)", rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title="Mr. Holland's Opus (1995)"),
 Row(date='01-Jan-1995', id=16, link='http://us.imdb.com/M/title-exact?Gazon%20maudit%20(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='French Twist (Gazon maudit) (1995)'),
 Row(date='05-Feb-1996', id=17, link='http://us.imdb.com/M/title-exact?From%20Dusk%20Till%20Dawn%20(1996)', rating=[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0], title='From Dusk Till Dawn (1996)'),
 Row(date='01-Jan-1995', id=18, link='http://us.imdb.com/M/title-exact?Badkonake%20Sefid%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='White Balloon, The (1995)'),
 Row(date='01-Jan-1995', id=19, link='http://us.imdb.com/M/title-exact?Antonia%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title="Antonia's Line (1995)"),
 Row(date='01-Jan-1995', id=20, link='http://us.imdb.com/M/title-exact?Angels%20and%20Insects%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='Angels and Insects (1995)'),
 Row(date='16-Feb-1996', id=21, link='http://us.imdb.com/M/title-exact?Muppet%20Treasure%20Island%20(1996)', rating=[0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0], title='Muppet Treasure Island (1996)'),
 Row(date='16-Feb-1996', id=22, link='http://us.imdb.com/M/title-exact?Braveheart%20(1995)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], title='Braveheart (1995)'),
 Row(date='16-Feb-1996', id=23, link='http://us.imdb.com/M/title-exact?Taxi%20Driver%20(1976)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Taxi Driver (1976)'),
 Row(date='23-Feb-1996', id=24, link='http://us.imdb.com/M/title-exact?Hong%20Faan%20Kui%20(1995)', rating=[0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Rumble in the Bronx (1995)'),
 Row(date='08-Mar-1996', id=25, link='http://us.imdb.com/M/title-exact?Birdcage,%20The%20(1996)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Birdcage, The (1996)'),
 Row(date='01-Jan-1995', id=26, link='http://us.imdb.com/M/title-exact?Brothers%20McMullen,%20The%20(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Brothers McMullen, The (1995)'),
 Row(date='01-Jan-1995', id=27, link='http://us.imdb.com/M/title-exact?Bad%20Boys%20(1995)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Bad Boys (1995)'),
 Row(date='01-Jan-1995', id=28, link='http://us.imdb.com/M/title-exact?Apollo%2013%20(1995)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Apollo 13 (1995)'),
 Row(date='01-Jan-1995', id=29, link='http://us.imdb.com/M/title-exact?Batman%20Forever%20(1995)', rating=[0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Batman Forever (1995)'),
 Row(date='01-Jan-1967', id=30, link='http://us.imdb.com/M/title-exact?Belle%20de%20jour%20(1967)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Belle de jour (1967)'),
 Row(date='01-Jan-1995', id=31, link='http://us.imdb.com/M/title-exact?Crimson%20Tide%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0], title='Crimson Tide (1995)'),
 Row(date='01-Jan-1994', id=32, link='http://us.imdb.com/M/title-exact?Crumb%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Crumb (1994)'),
 Row(date='01-Jan-1995', id=33, link='http://us.imdb.com/M/title-exact?Desperado%20(1995)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0], title='Desperado (1995)'),
 Row(date='01-Jan-1995', id=34, link='http://us.imdb.com/M/title-exact?Doom%20Generation,%20The%20(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Doom Generation, The (1995)'),
 Row(date='01-Jan-1995', id=35, link='http://us.imdb.com/M/title-exact?Free%20Willy%202:%20The%20Adventure%20Home%20(1995)', rating=[0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Free Willy 2: The Adventure Home (1995)'),
 Row(date='01-Jan-1995', id=36, link='http://us.imdb.com/M/title-exact?Mad%20Love%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='Mad Love (1995)'),
 Row(date='01-Jan-1994', id=37, link='http://us.imdb.com/M/title-exact?Nadja%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Nadja (1994)'),
 Row(date='01-Jan-1995', id=38, link='http://us.imdb.com/M/title-exact?Net,%20The%20(1995)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], title='Net, The (1995)'),
 Row(date='01-Jan-1995', id=39, link='http://us.imdb.com/M/title-exact?Strange%20Days%20(1995)', rating=[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], title='Strange Days (1995)'),
 Row(date='01-Jan-1995', id=40, link='http://us.imdb.com/M/title-exact?To%20Wong%20Foo,%20Thanks%20for%20Everything!%20Julie%20Newmar%20(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='To Wong Foo, Thanks for Everything! Julie Newmar (1995)'),
 Row(date='01-Jan-1995', id=41, link='http://us.imdb.com/M/title-exact?Billy%20Madison%20(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Billy Madison (1995)'),
 Row(date='01-Jan-1994', id=42, link='http://us.imdb.com/M/title-exact?Clerks%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Clerks (1994)'),
 Row(date='01-Jan-1994', id=43, link='http://us.imdb.com/M/title-exact?Disclosure%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Disclosure (1994)'),
 Row(date='01-Jan-1994', id=44, link='http://us.imdb.com/M/title-exact?Dolores%20Claiborne%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Dolores Claiborne (1994)'),
 Row(date='01-Jan-1994', id=45, link='http://us.imdb.com/M/title-exact?Yinshi%20Nan%20Nu%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Eat Drink Man Woman (1994)'),
 Row(date='01-Jan-1994', id=46, link='http://us.imdb.com/M/title-exact?Exotica%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Exotica (1994)'),
 Row(date='01-Jan-1994', id=47, link='http://us.imdb.com/M/title-exact?Ed%20Wood%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Ed Wood (1994)'),
 Row(date='01-Jan-1994', id=48, link='http://us.imdb.com/M/title-exact?Hoop%20Dreams%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Hoop Dreams (1994)'),
 Row(date='01-Jan-1994', id=49, link='http://us.imdb.com/M/title-exact?I.Q.%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='I.Q. (1994)'),
 Row(date='01-Jan-1977', id=50, link='http://us.imdb.com/M/title-exact?Star%20Wars%20(1977)', rating=[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0], title='Star Wars (1977)'),
 Row(date='01-Jan-1994', id=51, link='http://us.imdb.com/M/title-exact?Legends%20of%20the%20Fall%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1], title='Legends of the Fall (1994)'),
 Row(date='01-Jan-1994', id=52, link='http://us.imdb.com/M/title-exact?Madness%20of%20King%20George,%20The%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Madness of King George, The (1994)'),
 Row(date='01-Jan-1994', id=53, link='http://us.imdb.com/M/title-exact?Natural%20Born%20Killers%20(1994)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Natural Born Killers (1994)'),
 Row(date='01-Jan-1995', id=54, link='http://us.imdb.com/M/title-exact?Outbreak%20(1995)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Outbreak (1995)'),
 Row(date='01-Jan-1994', id=55, link='http://us.imdb.com/Title?L%E9on+(1994)', rating=[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0], title='Professional, The (1994)'),
 Row(date='01-Jan-1994', id=56, link='http://us.imdb.com/M/title-exact?Pulp%20Fiction%20(1994)', rating=[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Pulp Fiction (1994)'),
 Row(date='01-Jan-1994', id=57, link='http://us.imdb.com/M/title-exact?Priest%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Priest (1994)'),
 Row(date='01-Jan-1994', id=58, link='http://us.imdb.com/M/title-exact?Quiz%20Show%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Quiz Show (1994)'),
 Row(date='01-Jan-1994', id=59, link='http://us.imdb.com/M/title-exact?Trzy%20kolory:%20Czerwony%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Three Colors: Red (1994)'),
 Row(date='01-Jan-1993', id=60, link='http://us.imdb.com/M/title-exact?Trzy%20kolory:%20Niebieski%20(1993)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Three Colors: Blue (1993)'),
 Row(date='01-Jan-1994', id=61, link='http://us.imdb.com/M/title-exact?Trzy%20kolory:%20Bialy%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Three Colors: White (1994)'),
 Row(date='01-Jan-1994', id=62, link='http://us.imdb.com/M/title-exact?Stargate%20(1994)', rating=[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], title='Stargate (1994)'),
 Row(date='01-Jan-1994', id=63, link='http://us.imdb.com/M/title-exact?Santa%20Clause,%20The%20(1994)', rating=[0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Santa Clause, The (1994)'),
 Row(date='01-Jan-1994', id=64, link='http://us.imdb.com/M/title-exact?Shawshank%20Redemption,%20The%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Shawshank Redemption, The (1994)'),
 Row(date='01-Jan-1993', id=65, link="http://us.imdb.com/M/title-exact?What's%20Eating%20Gilbert%20Grape%20(1993)", rating=[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title="What's Eating Gilbert Grape (1993)"),
 Row(date='01-Jan-1995', id=66, link='http://us.imdb.com/M/title-exact?While%20You%20Were%20Sleeping%20(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='While You Were Sleeping (1995)'),
 Row(date='01-Jan-1994', id=67, link='http://us.imdb.com/M/title-exact?Ace%20Ventura:%20Pet%20Detective%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Ace Ventura: Pet Detective (1994)'),
 Row(date='01-Jan-1994', id=68, link='http://us.imdb.com/M/title-exact?Crow,%20The%20(1994)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0], title='Crow, The (1994)'),
 Row(date='01-Jan-1994', id=69, link='http://us.imdb.com/M/title-exact?Forrest%20Gump%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0], title='Forrest Gump (1994)'),
 Row(date='01-Jan-1994', id=70, link='http://us.imdb.com/M/title-exact?Four%20Weddings%20and%20a%20Funeral%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='Four Weddings and a Funeral (1994)'),
 Row(date='01-Jan-1994', id=71, link='http://us.imdb.com/M/title-exact?Lion%20King,%20The%20(1994)', rating=[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], title='Lion King, The (1994)'),
 Row(date='01-Jan-1994', id=72, link='http://us.imdb.com/M/title-exact?Mask,%20The%20(1994)', rating=[0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Mask, The (1994)'),
 Row(date='01-Jan-1994', id=73, link='http://us.imdb.com/M/title-exact?Maverick%20(1994)', rating=[0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], title='Maverick (1994)'),
 Row(date='01-Jan-1965', id=74, link='http://us.imdb.com/M/title-exact?Faster%20Pussycat!%20Kill!%20Kill!%20(1965)', rating=[0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Faster Pussycat! Kill! Kill! (1965)'),
 Row(date='01-Jan-1994', id=75, link='http://us.imdb.com/M/title-exact?Brother%20Minister:%20The%20Assassination%20of%20Malcolm%20X%20(1994)', rating=[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Brother Minister: The Assassination of Malcolm X (1994)'),
 Row(date='01-Jan-1993', id=76, link="http://us.imdb.com/M/title-exact?Carlito's%20Way%20(1993)", rating=[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title="Carlito's Way (1993)"),
 Row(date='01-Jan-1993', id=77, link='http://us.imdb.com/M/title-exact?Firm,%20The%20(1993)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Firm, The (1993)'),
 Row(date='01-Jan-1993', id=78, link='http://us.imdb.com/M/title-exact?Free%20Willy%20(1993)', rating=[0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Free Willy (1993)'),
 Row(date='01-Jan-1993', id=79, link='http://us.imdb.com/M/title-exact?Fugitive,%20The%20(1993)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Fugitive, The (1993)'),
 Row(date='01-Jan-1993', id=80, link='http://us.imdb.com/M/title-exact?Hot%20Shots!%20Part%20Deux%20(1993)', rating=[0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], title='Hot Shots! Part Deux (1993)'),
 Row(date='01-Jan-1994', id=81, link='http://us.imdb.com/M/title-exact?Hudsucker%20Proxy,%20The%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='Hudsucker Proxy, The (1994)'),
 Row(date='01-Jan-1993', id=82, link='http://us.imdb.com/M/title-exact?Jurassic%20Park%20(1993)', rating=[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], title='Jurassic Park (1993)'),
 Row(date='01-Jan-1993', id=83, link='http://us.imdb.com/M/title-exact?Much%20Ado%20About%20Nothing%20(1993)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='Much Ado About Nothing (1993)'),
 Row(date='01-Jan-1994', id=84, link="http://us.imdb.com/M/title-exact?Robert%20A.%20Heinlein's%20The%20Puppet%20Masters%20(1994)", rating=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0], title="Robert A. Heinlein's The Puppet Masters (1994)"),
 Row(date='01-Jan-1994', id=85, link='http://us.imdb.com/M/title-exact?Ref,%20The%20(1994)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Ref, The (1994)'),
 Row(date='01-Jan-1993', id=86, link='http://us.imdb.com/M/title-exact?Remains%20of%20the%20Day,%20The%20(1993)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Remains of the Day, The (1993)'),
 Row(date='01-Jan-1993', id=87, link='http://us.imdb.com/M/title-exact?Searching%20for%20Bobby%20Fischer%20(1993)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Searching for Bobby Fischer (1993)'),
 Row(date='01-Jan-1993', id=88, link='http://us.imdb.com/M/title-exact?Sleepless%20in%20Seattle%20(1993)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='Sleepless in Seattle (1993)'),
 Row(date='01-Jan-1982', id=89, link='http://us.imdb.com/M/title-exact?Blade%20Runner%20(1982)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0], title='Blade Runner (1982)'),
 Row(date='01-Jan-1993', id=90, link='http://us.imdb.com/M/title-exact?So%20I%20Married%20an%20Axe%20Murderer%20(1993)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0], title='So I Married an Axe Murderer (1993)'),
 Row(date='01-Jan-1993', id=91, link='http://us.imdb.com/M/title-exact?Nightmare%20Before%20Christmas,%20The%20(1993)', rating=[0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], title='Nightmare Before Christmas, The (1993)'),
 Row(date='01-Jan-1993', id=92, link='http://us.imdb.com/M/title-exact?True%20Romance%20(1993)', rating=[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], title='True Romance (1993)'),
 Row(date='24-May-1996', id=93, link='http://us.imdb.com/Title?Welcome+to+the+Dollhouse+(1995)', rating=[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Welcome to the Dollhouse (1995)'),
 Row(date='01-Jan-1990', id=94, link='http://us.imdb.com/M/title-exact?Home%20Alone%20(1990)', rating=[0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], title='Home Alone (1990)'),
 Row(date='01-Jan-1992', id=95, link='http://us.imdb.com/M/title-exact?Aladdin%20(1992)', rating=[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], title='Aladdin (1992)'),
 Row(date='01-Jan-1991', id=96, link='http://us.imdb.com/M/title-exact?Terminator%202:%20Judgment%20Day%20(1991)', rating=[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], title='Terminator 2: Judgment Day (1991)'),
 Row(date='01-Jan-1990', id=97, link='http://us.imdb.com/M/title-exact?Dances%20with%20Wolves%20(1990)', rating=[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], title='Dances with Wolves (1990)'),
 Row(date='01-Jan-1991', id=98, link='http://us.imdb.com/M/title-exact?Silence%20of%20the%20Lambs,%20The%20(1991)', rating=[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], title='Silence of the Lambs, The (1991)'),
 Row(date='01-Jan-1937', id=99, link='http://us.imdb.com/M/title-exact?Snow%20White%20and%20the%20Seven%20Dwarfs%20(1937)', rating=[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], title='Snow White and the Seven Dwarfs (1937)'),

In [143]:
df1.toJSON().first() # Convert df into a RDD of string

'{"date":"01-Jan-1995","id":1,"link":"http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)","rating":[0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0],"title":"Toy Story (1995)"}'

In [144]:
df1.toPandas() # Return the contents of df as Pandas DataFrame

,date,id,link,rating,title
0,01-Jan-1995,1,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Toy Story (1995)
1,01-Jan-1995,2,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",GoldenEye (1995)
2,01-Jan-1995,3,http://us.imdb.com/M/title-exact?Four%20Rooms%...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Four Rooms (1995)
3,01-Jan-1995,4,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"[0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",Get Shorty (1995)
4,01-Jan-1995,5,http://us.imdb.com/M/title-exact?Copycat%20(1995),"[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ...",Copycat (1995)
...,...,...,...,...,...
1677,06-Feb-1998,1678,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",Mat' i syn (1997)
1678,06-Feb-1998,1679,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",B. Monkey (1998)
1679,01-Jan-1998,1680,http://us.imdb.com/Title?Sliding+Doors+(1998),"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, ...",Sliding Doors (1998)
1680,01-Jan-1994,1681,http://us.imdb.com/M/title-exact?You%20So%20Cr...,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",You So Crazy (1994)
1681,08-Mar-1996,1682,http://us.imdb.com/M/title-exact?Schrei%20aus%...,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",Scream of Stone (Schrei aus Stein) (1991)

# Repartitioning

In [145]:
# df with 10 partitions
df1.repartition(10).rdd.getNumPartitions()

10

In [146]:
# df with 1 partition
df1.coalesce(1).rdd.getNumPartitions()

1

# Registering DataFrames as Views

In [154]:
# Global permanent/non-replaceable Temp view
df1.createGlobalTempView("df1")

In [148]:
# Global replaceable Temp
df2.createOrReplaceGlobalTempView("df2")

In [155]:
# non-Global permanent/non-replaceable Temp view
df3.createTempView("df3")

In [150]:
# non-Global permanent/non-replaceable Temp view
df4.createOrReplaceTempView("df4")

# Query Views

In [162]:
# Access global with new session
spark.sql("SELECT * FROM global_temp.df1").show(2)
spark.newSession().sql("SELECT * FROM global_temp.df1").show(2)

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|
+-----------+---+--------------------+--------------------+----------------+
only showing top 2 rows

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|
+-----------+---+--------------------+--------------------+----------------+
only showing top 2 rows

In [163]:
# Access global with same session
spark.sql("SELECT * FROM global_temp.df1").show(2)
spark.newSession().sql("SELECT * FROM global_temp.df2").show(2)

+-----------+---+--------------------+--------------------+----------------+
|       date| id|                link|              rating|           title|
+-----------+---+--------------------+--------------------+----------------+
|01-Jan-1995|  1|http://us.imdb.co...|[0, 0, 0, 1, 1, 1...|Toy Story (1995)|
|01-Jan-1995|  2|http://us.imdb.co...|[0, 1, 1, 0, 0, 0...|GoldenEye (1995)|
+-----------+---+--------------------+--------------------+----------------+
only showing top 2 rows

+---+----------------+----------+--------------------+
| id|           title|      date|              rating|
+---+----------------+----------+--------------------+
|  1|Toy Story (1995)|1995-01-01|[0, 0, 0, 1, 1, 1...|
|  2|GoldenEye (1995)|1995-01-01|[0, 1, 1, 0, 0, 0...|
+---+----------------+----------+--------------------+
only showing top 2 rows

In [164]:
# Access local with same session
spark.sql("SELECT * FROM df3").show(3)

# Access local with new session
spark.newSession().sql("SELECT * FROM df3").show(3)

+---+------------------+----------+--------------------+
| id|        title_year|      date|              rating|
+---+------------------+----------+--------------------+
|  1| [Toy Story, 1995]|1995-01-01|[0, 0, 0, 1, 1, 1...|
|  2| [GoldenEye, 1995]|1995-01-01|[0, 1, 1, 0, 0, 0...|
|  3|[Four Rooms, 1995]|1995-01-01|[0, 0, 0, 0, 0, 0...|
+---+------------------+----------+--------------------+
only showing top 3 rows

AnalysisException: 'Table or view not found: df3; line 1 pos 14'

# Write & Save to Files

1. "errorifexists" or "error" is default, if data exists
2. "append" data is added to new file with or without coalesce
3. "overwrite" overwrites the data
4. "ignore" data is not written even if data is new, old remains intact
---
1. partitionBy divides data into folders by the partition names as partitionBy col, but partitionBy col is not saved to file. used by save and saveAsTable 
2. bucketBy with saveAsTable
3. sortBy with saveAsTable, must be used together with bucketBy; but first bucket it then sort it

In [169]:
df1.select("id", "title").write.mode('error').save("save/dfdemo1.parquet")

In [31]:
df1.coalesce(1).select("id", "title","date").write.mode("append").save("save/dfdemo2.json",format="json")

In [184]:
df3.select(col("title_year.year").alias("year"),col("title_year.title").alias("title")).coalesce(1).write.format("json").mode(
    "overwrite").partitionBy("year").save("save/dfdemo4.json")

In [179]:
df4.coalesce(1).write.mode("ignore").format("csv").save("save/dfdemo5.csv")
df4.coalesce(1).write.mode("ignore").option("header", "true").format("csv").option("header", "true").save("save/dfdemo6.csv")
df4.coalesce(1).write.option("header", "true").mode("ignore").option("header", "true").format("csv").save("save/dfdemo7.csv")

In [192]:
df3.select(col("title_year.year").alias("year"),col("title_year.title").alias("title")).coalesce(1
    ).write.bucketBy(5, "year").mode("overwrite").saveAsTable("yearwise_bucked")
spark.sql("SELECT * FROM yearwise_bucked").show(100)

+----+--------------------+
|year|               title|
+----+--------------------+
|1967|       Belle de jour|
|1992|             Aladdin|
|1991|Terminator 2: Jud...|
|1991|Silence of the La...|
|1992|            Supercop|
|1968|2001: A Space Ody...|
|1992|  Lawnmower Man, The|
|1987|       Dirty Dancing|
|1992|      Reservoir Dogs|
|1992|      Basic Instinct|
|1992| Glengarry Glen Ross|
|1980|    Private Benjamin|
|1991|        Delicatessen|
|1980|Empire Strikes Ba...|
|1987| Princess Bride, The|
|1980| Blues Brothers, The|
|1987|   Full Metal Jacket|
|1992|    Grand Day Out, A|
|1980|         Raging Bull|
|1967|       Graduate, The|
|1980|        Shining, The|
|1987|        Evil Dead II|
|1992|          Unforgiven|
|1992|Bram Stoker's Dra...|
|1991|           Cape Fear|
|1991|Star Trek VI: The...|
|1992|      Batman Returns|
|1992|         Under Siege|
|1987|     Raising Arizona|
|1992|            Sneakers|
|1992|Last of the Mohic...|
|1997|       Jungle2Jungle|
|1997|Smilla's Sense of...|
|1997|    Devil's Own, The|
|1997|         Chasing Amy|
|1997|Turbo: A Power Ra...|
|1997| Grosse Pointe Blank|
|1997|Austin Powers: In...|
|1997|  Fifth Element, The|
|1997|Lost World: Juras...|
|1997|      Batman & Robin|
|1997|My Best Friend's ...|
|1997|        Men in Black|
|1997|             Contact|
|1997|George of the Jungle|
|1997|       Event Horizon|
|1997|             Air Bud|
|1997|In the Company of...|
|1997|               Steel|
|1997|               Mimic|
|1997|  Kull the Conqueror|
|1997|         Chasing Amy|
|1997|     Full Monty, The|
|1997|             Gattaca|
|1997|   Starship Troopers|
|1997|   Good Will Hunting|
|1997|    Fierce Creatures|
|1997|      Absolute Power|
|1997|            Rosewood|
|1997|       Donnie Brasco|
|1997|           Liar Liar|
|1997|           Breakdown|
|1997|         Ulee's Gold|
|1997|            Face/Off|
|1997|             Hoodlum|
|1997|       Air Force One|
|1997|            In & Out|
|1997|   L.A. Confidential|
|1997|         Ulee's Gold|
|1997|      Ice Storm, The|
|1997|Mrs. Brown (Her M...|
|1997|Devil's Advocate,...|
|1997|FairyTale: A True...|
|1997|            Deceiver|
|1997|      Rainmaker, The|
|1997|Wings of the Dove...|
|1997|Midnight in the G...|
|1997|             Titanic|
|1997|  As Good As It Gets|
|1997|      Murder at 1600|
|1997|        Dante's Peak|
|1997|        Lost Highway|
|1997|           G.I. Jane|
|1997|            Cop Land|
|1997|   Conspiracy Theory|
|1997|                 187|
|1997|           Edge, The|
|1997|      Kiss the Girls|
|1997|           Game, The|
|1997|              U Turn|
|1997|  How to Be a Player|
|1997|         Playing God|
|1997|   House of Yes, The|
|1997|                Bean|
|1997|            Mad City|
|1997|       Boogie Nights|
|1997|       Critical Care|
|1997|Man Who Knew Too ...|
|1997| Alien: Resurrection|
|1997|        Apostle, The|
+----+--------------------+
only showing top 100 rows

In [194]:
df3.select(col("title_year.year").alias("year"),col("title_year.title").alias("title")).coalesce(1
    ).write.bucketBy(5, "year").sortBy("title").mode("overwrite").saveAsTable("title_sorted")
spark.sql("SELECT * FROM title_sorted").show(100)

+----+--------------------+
|year|               title|
+----+--------------------+
|1997|  'Til There Was You|
|1997|                 187|
|1968|2001: A Space Ody...|
|1963|               8 1/2|
|1997|8 Heads in a Duff...|
|1997|      Absolute Power|
|1997|    Addicted to Love|
|1997|           Afterglow|
|1997|             Air Bud|
|1997|       Air Force One|
|1992|             Aladdin|
|1992|             Alien 3|
|1997| Alien: Resurrection|
|1997|         All Over Me|
|1997|             Amistad|
|1992|Amityville 1992: ...|
|1997|            Anaconda|
|1997|           Anastasia|
|1997|       Anna Karenina|
|1997|        Apostle, The|
|1997|  As Good As It Gets|
|1997|     Assignment, The|
|1997|Austin Powers: In...|
|1997|Ayn Rand: A Sense...|
|1997|             B*A*P*S|
|1987|           Bad Taste|
|1968|          Barbarella|
|1992|      Basic Instinct|
|1997|      Batman & Robin|
|1992|      Batman Returns|
|1997|                Bean|
|1997|Beautician and th...|
|1991|Beauty and the Beast|
|1987|      Believers, The|
|1967|       Belle de jour|
|1997|                Bent|
|1997|            Best Men|
|1997| Beverly Hills Ninja|
|1997|        Big One, The|
|1963|          Birds, The|
|1992|         Bitter Moon|
|1997|               Bliss|
|1997|        Blood & Wine|
|1980| Blues Brothers, The|
|1992|         Bob Roberts|
|1991|          Body Parts|
|1967|    Bonnie and Clyde|
|1997|       Boogie Nights|
|1992|           Boomerang|
|1997|          Booty Call|
|1997|        Boy's Life 2|
|1997|           Boys, Les|
|1992|           Braindead|
|1992|Bram Stoker's Dra...|
|1997|           Breakdown|
|1997|   Brother's Kiss, A|
|1997|               Buddy|
|1992|C'est arriv� pr�s...|
|1992|            Candyman|
|1991|           Cape Fear|
|1997|        Career Girls|
|1992|             Careful|
|1942|          Casablanca|
|1997|    Cats Don't Dance|
|1963|             Charade|
|1997|         Chasing Amy|
|1997|         Chasing Amy|
|1997|    City of Industry|
|1967| Collectionneuse, La|
|1997|        Commandments|
|1997|             Con Air|
|1997|   Conspiracy Theory|
|1997|             Contact|
|1963|Contempt (M�pris,...|
|1967|      Cool Hand Luke|
|1997|            Cop Land|
|1997|       Critical Care|
|1992|              Cronos|
|1992|    Crying Game, The|
|1992|               Daens|
|1997|    Dangerous Ground|
|1997|        Dante's Peak|
|1991|  Death in Brunswick|
|1997|            Deceiver|
|1997|            Deceiver|
|1997|Deconstructing Harry|
|1991|        Delicatessen|
|1997|Designated Mourne...|
|1997|Designated Mourne...|
|1997|Devil's Advocate,...|
|1997|    Devil's Own, The|
|1992|               Dingo|
|1987|       Dirty Dancing|
|1997|       Donnie Brasco|
|1991|          Doors, The|
|1997|         Double Team|
|1991|Double vie de V�r...|
|1963|Dr. Strangelove o...|
|1997|Dream With the Fi...|
|1991|      Drop Dead Fred|
+----+--------------------+
only showing top 100 rows

In [17]:
# from database
# restart jupyter if it doesn't work
user='root';pw='24081999'
table_name='baz1' 
# creates new table, doesn't write to same table without overwrite
# table schema must be same as DF schema
# appends with same id's, if MySQL official schema in db is not UNIQUE

# mysql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]
url="jdbc:mysql://localhost:3306/oneqshopv1"
properties = {
    "user": user,
    "password": pw
}
df_db1.write.option("driver", "com.mysql.jdbc.Driver").mode("append").jdbc(url=url,table=table_name,properties=properties)
# df_db1.show()

In [268]:
# invalid, saves as parquet without format definition
df1.select("id", "title").write.save("save/dfdemo3.json")

# Joins

In [195]:
df7 = spark.createDataFrame( [('a',1), ('b',2), ('c',3)], ('x1', 'x2') )
print(df7.show())

df8 = spark.createDataFrame( [('a',True), ('b',False), ('d',True)], ('x1', 'x3') )
print(df8.show())

+---+---+
| x1| x2|
+---+---+
|  a|  1|
|  b|  2|
|  c|  3|
+---+---+

None
+---+-----+
| x1|   x3|
+---+-----+
|  a| true|
|  b|false|
|  d| true|
+---+-----+

None

## Mutating Joins

In [196]:
# Left
df7.join(df8, "x1", how="left").orderBy("x1",ascending=True).show()

+---+---+-----+
| x1| x2|   x3|
+---+---+-----+
|  a|  1| true|
|  b|  2|false|
|  c|  3| null|
+---+---+-----+

In [197]:
# Right
df7.join(df8, "x1", how="right").orderBy("x1",ascending=True).show()

+---+----+-----+
| x1|  x2|   x3|
+---+----+-----+
|  a|   1| true|
|  b|   2|false|
|  d|null| true|
+---+----+-----+

In [198]:
# inner
df7.join(df8, "x1", how="inner").orderBy("x1",ascending=True).show()

+---+---+-----+
| x1| x2|   x3|
+---+---+-----+
|  a|  1| true|
|  b|  2|false|
+---+---+-----+

In [199]:
# full
df7.join(df8, "x1", how="full").orderBy("x1",ascending=True).show()

+---+----+-----+
| x1|  x2|   x3|
+---+----+-----+
|  a|   1| true|
|  b|   2|false|
|  c|   3| null|
|  d|null| true|
+---+----+-----+

## Filtering Joins

In [201]:
# left_semi
df7.join(df8, "x1", how="left_semi").orderBy("x1",ascending=True).show()

+---+---+
| x1| x2|
+---+---+
|  a|  1|
|  b|  2|
+---+---+

In [200]:
# left_anti
df7.join(df8, "x1", how="left_anti").orderBy("x1",ascending=True).show()

+---+---+
| x1| x2|
+---+---+
|  c|  3|
+---+---+

# Dataframe Operations

In [202]:
df9 = spark.createDataFrame( [('a',1), ('b',2), ('c',3)], ('x1', 'x2') )
print(df9.show())

df10 = spark.createDataFrame( [('b',2), ('c',3), ('d',4)], ('x1', 'x2') )
print(df10.show())

+---+---+
| x1| x2|
+---+---+
|  a|  1|
|  b|  2|
|  c|  3|
+---+---+

None
+---+---+
| x1| x2|
+---+---+
|  b|  2|
|  c|  3|
|  d|  4|
+---+---+

None

In [203]:
df9.intersect(df10).show()

+---+---+
| x1| x2|
+---+---+
|  c|  3|
|  b|  2|
+---+---+

In [204]:
df9.union(df10).show()

+---+---+
| x1| x2|
+---+---+
|  a|  1|
|  b|  2|
|  c|  3|
|  b|  2|
|  c|  3|
|  d|  4|
+---+---+

In [205]:
df9.subtract(df10).show()

+---+---+
| x1| x2|
+---+---+
|  a|  1|
+---+---+

In [206]:
df11 = spark.createDataFrame( [('a',"1,2,3"), ('b',"2,3,4")], ('x1', 'x2') )
df11.show()

+---+-----+
| x1|   x2|
+---+-----+
|  a|1,2,3|
|  b|2,3,4|
+---+-----+

In [207]:
df11_1=df11.select("x1",F.split("x2",",").alias("values"))
df11_1.printSchema()
df11_1.show()

root
 |-- x1: string (nullable = true)
 |-- values: array (nullable = true)
 |    |-- element: string (containsNull = true)

+---+---------+
| x1|   values|
+---+---------+
|  a|[1, 2, 3]|
|  b|[2, 3, 4]|
+---+---------+

In [210]:
df11_2=df11.select("x1",F.split("x2",",").alias("values"),
                  F.posexplode(F.split("x2",",")).alias("pos","val"))
df11_2.printSchema()
df11_2.show()

root
 |-- x1: string (nullable = true)
 |-- values: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- pos: integer (nullable = false)
 |-- val: string (nullable = true)

+---+---------+---+---+
| x1|   values|pos|val|
+---+---------+---+---+
|  a|[1, 2, 3]|  0|  1|
|  a|[1, 2, 3]|  1|  2|
|  a|[1, 2, 3]|  2|  3|
|  b|[2, 3, 4]|  0|  2|
|  b|[2, 3, 4]|  1|  3|
|  b|[2, 3, 4]|  2|  4|
+---+---------+---+---+

In [211]:
df11_3=df11.select("x1",F.split("x2",",").alias("values"),
        F.posexplode(F.split("x2",",")).alias("pos","val")
        ).drop("val").select("x1",F.expr("values[pos]").alias("val"))
df11_3.printSchema()
df11_3.show()

root
 |-- x1: string (nullable = true)
 |-- val: string (nullable = true)

+---+---+
| x1|val|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  b|  2|
|  b|  3|
|  b|  4|
+---+---+

# Windows

In [212]:
df12 = spark.createDataFrame( [('a','m',1), ('b','m',2), ('c','n',3),
                              ('d','n',6)], ('A', 'B', 'C') )
df12.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  m|  1|
|  b|  m|  2|
|  c|  n|  3|
|  d|  n|  6|
+---+---+---+

In [218]:
# Define windows for difference
w=Window.partitionBy(df12.B) # partition by B col
D = df12.C - F.min(df12.C).over(w) # find min on basis of partition by B col
df12.withColumn('D',D).show()
D = df12.C - F.max(df12.C).over(w) # find max on basis of partition by B col
df12.withColumn('D',D).show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  a|  m|  1|  0|
|  b|  m|  2|  1|
|  c|  n|  3|  0|
|  d|  n|  6|  3|
+---+---+---+---+

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  a|  m|  1| -1|
|  b|  m|  2|  0|
|  c|  n|  3| -3|
|  d|  n|  6|  0|
+---+---+---+---+

In [215]:
# Define windows for row_num
df12_1=df12.withColumn("D",F.monotonically_increasing_id())
df12_1.show()
w1=Window.orderBy(df12_1.D) # partition by D col
df12_1.withColumn("D",F.row_number().over(w1)).show()

+---+---+---+-----------+
|  A|  B|  C|          D|
+---+---+---+-----------+
|  a|  m|  1|17179869184|
|  b|  m|  2|42949672960|
|  c|  n|  3|68719476736|
|  d|  n|  6|94489280512|
+---+---+---+-----------+

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  a|  m|  1|  1|
|  b|  m|  2|  2|
|  c|  n|  3|  3|
|  d|  n|  6|  4|
+---+---+---+---+

In [217]:
# Define windows for rank
w2=Window.partitionBy("B").orderBy(df12.C.desc())
df12.withColumn("D",F.rank().over(w2)).show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  b|  m|  2|  1|
|  a|  m|  1|  2|
|  d|  n|  6|  1|
|  c|  n|  3|  2|
+---+---+---+---+

# custom functions

In [12]:
# count non-null values
def my_count(df):
    return df.agg(*[F.count(c).alias(c) for c in df.columns])
my_count(df4).show()

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
|  3|        5|       5|
+---+---------+--------+

In [14]:
def my_sum(df):
    return df.agg(*[F.sum(c).alias(c) for c in df.columns])
my_sum(df4).show()

+---+---------+--------+
| id|firstName|lastName|
+---+---------+--------+
|  7|     null|    null|
+---+---------+--------+

# UDF

In [27]:
def complexF(x,y):
    return [x*i for i in y]
    
Fn=F.udf(lambda x,y: complexF(x,y),ArrayType(IntegerType()))
df1.withColumn('2col',Fn(df1.id,df1.rating)).select('id','2col').show(5,truncate=False)

+---+---------------------------------------------------------+
|id |2col                                                     |
+---+---------------------------------------------------------+
|1  |[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]|
|2  |[0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0]|
|3  |[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0]|
|4  |[0, 4, 0, 0, 0, 4, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]|
|5  |[0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0]|
+---+---------------------------------------------------------+
only showing top 5 rows