In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\work\\spark-2.4.8-bin-hadoop2.7'

In [2]:
from pyspark.sql import SparkSession, Row
spark=SparkSession.builder.appName("SparkSQL").getOrCreate()
spark.version

'2.4.8'

In [13]:
from pyspark.sql.functions import col

In [5]:
people=spark.read.csv("fakefriends-header.csv", header=True, inferSchema=True)
people.show(5)

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
|     3|  Deanna| 40|    465|
|     4|   Quark| 68|     21|
+------+--------+---+-------+
only showing top 5 rows

In [6]:
people.select("name").show(5)

+--------+
|    name|
+--------+
|    Will|
|Jean-Luc|
|    Hugh|
|  Deanna|
|   Quark|
+--------+
only showing top 5 rows

In [8]:
people.filter(people.age < 20).show(5)

+------+-------+---+-------+
|userID|   name|age|friends|
+------+-------+---+-------+
|    21|  Miles| 19|    268|
|    52|Beverly| 19|    269|
|    54|  Brunt| 19|      5|
|   106|Beverly| 18|    499|
|   115|  Dukat| 18|    397|
+------+-------+---+-------+
only showing top 5 rows

In [10]:
people.groupBy("age").count().orderBy("age").show(5)

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
+---+-----+
only showing top 5 rows

In [20]:
people.select(people.name, (people.age + 10)) \
.withColumnRenamed("(age + 10)","age").show(5)

+--------+---+
|    name|age|
+--------+---+
|    Will| 43|
|Jean-Luc| 36|
|    Hugh| 65|
|  Deanna| 50|
|   Quark| 78|
+--------+---+
only showing top 5 rows