In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('practice2').getOrCreate()

In [3]:
spark

In [20]:
df=spark.read.option('header','true').csv('test1.csv',inferSchema=True)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [21]:
df=spark.read.csv('test1.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [22]:
df.columns

['Name', 'age', 'exp']

In [23]:
df.select('Name')

DataFrame[Name: string]

In [24]:
df.select('Name').show()

+----+
|Name|
+----+
| dom|
| vin|
| flo|
| mic|
+----+

In [25]:
df.select(['Name','exp']).show()

+----+---+
|Name|exp|
+----+---+
| dom|  1|
| vin|  0|
| flo| 40|
| mic| 43|
+----+---+

In [27]:
df['Name']

Column<'Name'>

In [28]:
df['Name'].show()

TypeError: 'Column' object is not callable

In [29]:
df.dtypes

[('Name', 'string'), ('age', 'int'), ('exp', 'int')]

In [32]:
df.describe().show()

+-------+----+------------------+------------------+
|summary|Name|               age|               exp|
+-------+----+------------------+------------------+
|  count|   4|                 4|                 4|
|   mean|null|             38.75|              21.0|
| stddev|null|23.485811319461234|23.706539182259394|
|    min| dom|                16|                 0|
|    max| vin|                60|                43|
+-------+----+------------------+------------------+

+-------+----+------------------+------------------+
|summary|Name|               age|               exp|
+-------+----+------------------+------------------+
|  count|   4|                 4|                 4|
|   mean|null|             38.75|              21.0|
| stddev|null|23.485811319461234|23.706539182259394|
|    min| dom|                16|                 0|
|    max| vin|                60|                43|
+-------+----+------------------+------------------+